In [1]:
import sys
from os.path import abspath,join
sys.path.append(abspath(join('..', 'module')))
from openTable import *
from AccesDB import *

import pandas as pd
import numpy as np
from statistics import mean

def strip_space(text):
    result = "".join(str(text).split())
    
    return result

In [2]:
data = pd.read_csv('../data/PTN_sbm_v2.csv') #WEB

data = data.replace({'Prodi_database': r'psgd'}, {'Prodi_database': 'pgsd'}, regex=True)
data = data.replace({'Prodi_database': r'tekink'}, {'Prodi_database': 'teknik'}, regex=True)
data = data.replace({'Prodi_database': r'sasatra '}, {'Prodi_database': 'sastra '}, regex=True)
data = data.replace({'Prodi_database': r'pend. '}, {'Prodi_database': 'pendidikan '}, regex=True)
data = data.replace({'Prodi_database': r'pendidika '}, {'Prodi_database': 'pendidikan '}, regex=True)
data = data.replace({'Prodi_database': r'pendidkan '}, {'Prodi_database': 'pendidikan '}, regex=True)
data = data.replace({'Prodi_database': r'pendikan '}, {'Prodi_database': 'pendidikan '}, regex=True)
data = data.replace({'Prodi_database': r'pendidikaan '}, {'Prodi_database': 'pendidikan '}, regex=True)
data = data.replace({'Prodi_database': r'majemen '}, {'Prodi_database': 'manajemen '}, regex=True)
data = data.replace({'Prodi_database': r'manajamen'}, {'Prodi_database': 'manajemen'}, regex=True)
data = data.replace({'Prodi_database': r'adminstrasi'}, {'Prodi_database': 'administrasi'}, regex=True)
data = data.replace({'Prodi_database': r'pancasilan'}, {'Prodi_database': 'pancasila'}, regex=True)
data = data.replace({'Prodi_database': r'pancasla '}, {'Prodi_database': 'pancasila '}, regex=True)
data = data.replace({'Prodi_database': r'kewarganegaan'}, {'Prodi_database': 'kewarganegaraan'}, regex=True)
data = data.replace({'Prodi_database': r'sd perairan'}, {'Prodi_database': 'sumber daya perikanan'}, regex=True)
data = data.replace({'Prodi_database': r'pembangnan'}, {'Prodi_database': 'pembangunan'}, regex=True)
data = data.replace({'Prodi_database': r'manajemen sumber perairan'}, {'Prodi_database': 'manajemen sumber daya perikanan'}, regex=True)
data = data.replace({'Prodi_database': r'kedokteran hewan'}, {'Prodi_database': 'dokter hewan'}, regex=True)
data = data.replace({'Prodi_database': r'bimbingan dan konseling'}, {'Prodi_database': 'bimbingan konseling'}, regex=True)
data = data.replace({'Prodi_database': r'kedokteran gigi'}, {'Prodi_database': 'pendidikan dokter gigi'}, regex=True)
data = data.replace({'Prodi_database': r'pendidikan jasmani, kesehatan dan rekreasi'}, {'Prodi_database': 'pendidikan jasmani, kesehatan, dan rekreasi'}, regex=True)
data = data.replace({'Prodi_database': r'pendidikan jasmani, kesehatan, rekreasi'}, {'Prodi_database': 'pendidikan jasmani, kesehatan, dan rekreasi'}, regex=True)
data = data.replace({'Prodi_database': r'pendidikan dasar sekolah dasar'}, {'Prodi_database': 'pendidikan guru sekolah dasar'}, regex=True)
data = data.replace({'Prodi_database': r'pendidikan guru paud'}, {'Prodi_database': 'pendidikan guru pendidikan anak usia dini (paud)'}, regex=True)
data = data.replace({'Prodi_database': r' dan komunikasi visual'}, {'Prodi_database': ' komunikasi visual'}, regex=True)
data = data.replace({'Prodi_database': r'teknik elektronika '}, {'Prodi_database': 'teknik elektronika'}, regex=True)
data = data.replace({'Prodi_database': r'pendidikan jasmani kesehatan dan rekreasi'}, {'Prodi_database': 'pendidikan jasmani, kesehatan, dan rekreasi'}, regex=True)
data = data.replace({'Prodi_database': r'pancasila kewarganegaraan'}, {'Prodi_database': 'pancasila dan kewarganegaraan'}, regex=True)
data = data.replace({'Prodi_database': r'pendidikan guru pendidikan anak usia dini'}, {'Prodi_database': 'pendidikan guru pendidikan anak usia dini (paud)'}, regex=True)

data.Universitas_database = data.Universitas_database.apply(strip_space)
data.Prodi_database = data.Prodi_database.apply(strip_space)
data['namagabungan'] = data.Prodi_database.str.cat(data.Universitas_database.astype(str), sep='')

sumber = pd.read_csv('../data/database_ptn.csv',encoding='latin1',index_col='no') #DB
sumber = sumber.drop_duplicates(subset=['name', 'departmentname'],keep=False)

merged = pd.merge(data,sumber, on='namagabungan',how='left')
merged = merged.sort_values(['Universitas_database','Prodi_database'])
merged = merged[
    ['universityId','facultydepartmentid','Universitas_database','Prodi_database','Jenis','accreditation',
     'DT 2020','P 2019','rataan','s_baku','max','min','namagabungan'
     ]
]

keketatan = []
for index, row in merged.iterrows():
    if row['P 2019'] != 0:
        ketat = (row['DT 2020']/row['P 2019'])*100
        keketatan.append(ketat)
    else:
        keketatan.append(0)

merged.facultydepartmentid.fillna(0, inplace=True)
merged.accreditation.fillna('D', inplace=True)
merged['persentase_keketatan'] = keketatan
merged['rataan'] = merged['rataan'].str.replace(',','.')
merged['s_baku'] = merged['s_baku'].str.replace(',','.')
merged['max'] = merged['max'].str.replace(',','.')
merged['min'] = merged['min'].str.replace(',','.')
merged['rataan'] = merged['rataan'].astype('float')
merged['s_baku'] = merged['s_baku'].astype('float')
merged['max'] = merged['max'].astype('float')
merged['min'] = merged['min'].astype('float')

rataan_baru = []
s_baku_baru = []

for index, row in merged.iterrows():
    if np.isnan(row['rataan']):
        try:
            jurusan = row['Prodi_database']
            akreditasi = row['accreditation']
            keketatan = row['persentase_keketatan']
            tabel = merged.loc[(merged['Prodi_database']==str(jurusan)) & (merged['accreditation']==str(akreditasi))]
            not_null = tabel[pd.notnull(tabel['rataan'])]
            mean_rataan = mean(not_null['rataan'].tolist())
            mean_s_baku = mean(not_null['s_baku'].tolist())
            mean_keketatan = mean(not_null['persentase_keketatan'].tolist())
            
            if keketatan > 100:
                rataan = float('NaN')
                s_baku = float('NaN')
            else:
                rataan = ((100-keketatan)/(100-mean_keketatan))*mean_rataan
                s_baku = ((100-keketatan)/(100-mean_keketatan))*mean_s_baku
                
#             print(jurusan,akreditasi,tabel.shape,rataan,s_baku)
            
        except Exception as e:
            rataan = float('NaN')
            s_baku = float('NaN')
#             print(e,'gak buat')
    else:
        rataan = row['rataan']
        s_baku = row['s_baku']
    
    rataan_baru.append(rataan)
    s_baku_baru.append(s_baku)
    
merged['rataan_baru'] = rataan_baru
merged['s_baku_baru'] = s_baku_baru

teknologidanmanajemenperikananbudidaya D (2, 14) 597.015498676684 13.28673849568855
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
desainkomunikasivisual D (3, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
desaininterior A (3, 14) 438.81898709847917 11.282939302998237
desainkomunikasivisual A (5, 14) 514.8051395820721 10.061812246157567
mean requires at least one data point gak buat
nan D (365, 14) 256.94368753980547 7.090454996996253
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
desaininterior B (2, 14) 588.3066991700473 11.287335591201757
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 426.17211622981534 11.76037535708689
nan D (365, 14) 524.6296535417272 14.477347095561843
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
fisika B (26, 14) 537.8057311779487 12.609084542217502
kimia B (26, 14) 530.3346377322446 10.451762798052393
mean requires at least one data point gak buat
nan D (365, 14) 458.3984723449509 12.649673436130552
nan D (365, 14) 531.6689451515699 14.671598921120276
nan D (365, 14) 273.90197091743266 7.558425026798006
nan D (365, 14) 548.9745493297597 15.149153395395016
nan D (365, 14) 586.6173031642254 16.187918949753843
nan D (365, 14) 480.3623415625125 13.255774437241564
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
perencanaanwilayahdankota B (5, 14) 574.4527440331375 12.825075867417013
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikelektro B (29, 14) 558.2456143439935 13.557903186819797
mean requires at least one data point gak buat
teknikgeofisika B (4, 14) 522.3575759962152 7.300838000612659
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikindustri C (4, 14) 521.6470499280514 12.093273274320849
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikkimia B (7, 14) 555.4985185138432 11.663987392310716
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
tekniksipil B (27, 14) 551.5882104109278 11.265405382627547
teknologiindustripertanian D (3, 14) 636.5978970462329 14.157975706335618
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 319.50388972341034 8.816826648438822
nan D (365, 14) 267.2214350413977 7.374073196876103
nan D (365, 14) 381.74490720199674 10.534390281251577
nan D (365, 14) 402.95295760210763 11.119634185765552
nan D (365, 14) 356.8485002105622 9.847364828126473
nan D (365, 14) 275.0808890132035 7.590957702666576
nan D (365, 14) 469.22811510245435 12.94852138737173
nan D (365, 14) 416.27459730066977 11.487249703676342
nan D (365, 14) 163.1293644148068 4.501614451581343
nan D (365, 14) 458.19382186417675 12.644026031292796
nan D (365, 14) 400.83215256209655 11.061109795314154
nan D (365, 14) 488.3082277101774 13.475044070524717
nan D (365, 14) 404.880962183936 11.172838177085007
nan D (365, 14) 330.00237459931645 9.106536176865069
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi D (6, 14) 734.3994891867678 22.558646540694568
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
teknikkomputer B (2, 14) 709.6627931769723 13.648891257995734
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
akuntansi B (24, 14) 645.7111618895793 18.674045979801587
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi D (6, 14) nan nan
ekonomipembangunan D (2, 14) 116.97623652942796 3.4716772589113
farmasi D (6, 14) 157.41824129161574 3.66385149888625
ilmuhukum B (24, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) nan nan
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026

mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 559.7205733975221 15.445693858321565
nan D (365, 14) 564.3185584725169 15.57257693750233
nan D (365, 14) 580.1517997609292 16.009501019533644
nan D (365, 14) 550.4385193634425 15.18955218370606
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
agribisnis A (22, 14) 643.7630743009036 15.784042501660235
antropologisosial B (5, 14) 593.7975617213177 13.780631353665061
biologi A (29, 14) 618.4073659697651 15.652080469382813
fisika A (18, 14) 598.0290021690668 14.405385158223579
ilmukeperawatan B (8, 14) 574.734405988454 15.053127088915286
ilmupolitik A (6, 14) 608.2717444358033 13.51876186963645
ilmusejarah A (10, 14) 589.2287512229749 14.297669041964367
ilmutanah A (4, 14) 627.1458264353105 18.73217031175558
nan D (365, 14) 622.9656064379041 17.190963667632985
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 530.0259868589706 14.626260886365824
nan D (365, 14) 632.233019903575 17.446701330410622
nan D (365, 14) 521.6308834712215 14.394594939107462
nan D (365, 14) 607.4934890105429 16.76400493057528
nan D (365, 14) 586.4592562931439 16.183557588563968
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sastraindonesia A (6, 14) 567.8777764768828 12.975507259365628
sastrajepang A (6, 14) 586.8107645193709 15.509432021282874
sosiologi A (17, 14) 604.1654803822192 14.177412998078044
mean requires at least one data point gak buat
teknologiindustripertanian B (7, 14) 593.9960587842351 12.039812959251837
teknologiindustripertanian B (7, 14) 607.826561527733 12.320145907091515
agribisnis B (16, 14) 525.1987753900501 11.79235796290845
agroteknologi B (15, 14) 468.72047780867064 13.082846256822162
akuntansi B (24, 14) 508.649830356414 14.710215465221065
biologi B (20, 14) 515.6652649706457 12.129907371167645
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 520.5519514506894 13.435925511804214
mean requires at least one data point gak buat
ilmupolitik C (4, 14) 487.6451351351351 12.466216216216216
mean requires at least one data point gak buat
manajemen B (25, 14) 539.1097348152896 12.832399698066526
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi B (19, 14) 553.6256490907429 11.609353949169616
teknikelektro B (29, 14) 474.0467050070085 11.51299565527003
teknikmesin B (23, 14) 479.8067312477103 11.520259051377517
mean requires at least one data point gak buat
tekniksipil B (27, 14) 513.4323678314809 10.486126517959711
administrasinegara B (12, 14) 555.996632311409 16.795886563122462
agribisnis A (22, 14) 575.7259903697612 14.115881857894854
agroekoteknologi A (7, 14) 579.5320649842097 13.13084917733931
akuntansi A (30, 14) 532.957122156163 15.04669324303819
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi B (20, 14) 479.53174168297454 11.279944575053522
ekonomipembangunan A (21, 14) 587.8595822032053 14.755695577600916
farmasi B (15, 14) 632.329353485942 16.614152218443497
fisika B (26, 14) 462.3242250477103 10.839388466116802
ilmuhukum A (26, 14) 493.1865705071494 13.394000791376376
mean requires at least one data point gak buat
ilmukesejahteraansosial A (4, 14) 575.9748108032918 13.825378686014654
ilmukomunikasi B (24, 14) 571.5474213290839 14.42434304519981
mean requires at least one data point gak buat
ilmutanah B (7, 14) 492.8130858960764 10.354082714740192
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia A (23, 14) 462.59605908527027 10.72572290676418
manajemen A (37, 14) 553.3043283545992 15.973807630132052
matematika B (22, 14) 407.27512436658924 12.442416943233757
nan D (365, 14) 527.4107270553902 14.554091835939678
nan D (365, 14) 514.8302876944359 14.206930012330108
pendidikanbahasadansastraindonesia A (8, 14) 539.8685370080776 17.884256140384792
pendidikanbahasainggris B (34, 14) 540.3863037821345 13.399182700451679
pendidikanbiologi A (16, 14) 565.7478795127745 14.644332052092253
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 530.8283766233766 13.733766233766234
pendidikangurusekolahdasar(pgsd) A (12, 14) 574.0873845672344 16.758716869804736
pendidikanilmupengetahuanalam D (4, 14) 501.31545790461035 9.898253652435905
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 406.8818787878788 7.464138528138528
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sisteminformasi D (5, 14) 589.8257383954436 17.378059586616104
sosiologi B (19, 14) 518.4299475962763 10.871311272119428
statistika D (4, 14) 553.2171389131138 13.366522636406293
teknikelektro B (29, 14) 504.1304382093763 12.243628071854472
teknikinformatika B (23, 14) 599.5399588476687 15.167674428428777
teknikmesin B (23, 14) 457.09398657326244 10.974921344803432
tekniksipil B (27, 14) 565.7897475571665 11.555451598244874
teknologiindustripertanian B (7, 14) 496.33328449328445 10.06026862026862
agribisnis B (16, 14) 237.0376367064739 5.322237586423633
agroteknologi B (15, 14) 167.19602409638554 4.666746987951807
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ekonomipembangunan B (14, 14) 463.476840458806 11.641616537443484
mean requires at least one data point gak buat
ilmukeperawatan B (8, 14) 631.9931263858094 16.552815964523283
manajemen B (25, 14) 533.9014081927852 12.708426182728399
mean requires at least one data point gak buat
nan D (365, 14) 182.1964329827711 5.027777179688251
nan D (365, 14) 522.2964412172773 14.412961248439657
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 354.88975136840065 8.799691227963137
pendidikanbiologi B (23, 14) 432.7501601164484 9.923377001455606
mean requires at least one data point gak buat
teknikelektro B (29, 14) 364.54859286454456 8.853655813771036
mean requires at least one data point gak buat
tekniksipil B (27, 14) 479.3143674405822 9.789314842159428
agribisnis A (22, 14) 564.044542674805 13.829471415515355
mean requires at least one data point gak buat
agroekoteknologi A (7, 14) 564.8962310226119 12.799235208163063
budidayaperairan A (13, 14) 519.0376328834669 16.56503083670639
budidayaperairan A (13, 14) 493.7429178552235 15.757752697507131
ilmukeperawatan A (7, 14) 588.7368165321498 16.92930606397951
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknologihasilperikanan A (8, 14) 641.3916231983528 16.66513383665065
administrasinegara B (12, 14) 208.2693655687952 6.291528465064026
akuntansi B (24, 14) nan nan
antropologisosial B (5, 14) nan nan
mean requires at least one data point gak buat

biologi B (20, 14) 417.14062266500616 9.812328767123288
ekonomipembangunan B (14, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhubunganinternasional B (7, 14) 394.99021272337194 9.066632084645017
ilmuhukum B (24, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmukeperawatan B (8, 14) 530.8742261640799 13.904365410199558
mean requires at least one data point gak buat
kesehatanmasyarakat B (9, 14) 452.10276916076833 9.375655137822623
kimia B (26, 14) nan nan
manajemen B (25, 14) 143.32361193244307 3.4115241401044827
matematika B (22, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) 413.55698280216313 11.41225613802254
nan D (365, 14) nan nan
nan D (365, 14) 381.74490720199674 10.534390281251577
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) 272.169980134757 7.510630107929366
nan D (365, 14) nan nan
pendidikanbahasadansastraindonesia B (20, 14) nan nan
pendidikanbahasainggris B (34, 14) 243.82894724173192 6.045876049937689
pendidikanbiologi B (23, 14) 438.5981352531571 10.057476690664465
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) nan nan
mean requires at least one data point gak buat
perencanaanwilayahdankota D (2, 14) 363.48097897310515 9.259280195599022
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
tekniksipil B (27, 14) 582.3506532305305 11.893684563331115
manajemensumberdayaperairan A (8, 14) 604.5275134963481 14.161495712924738
nan D (365, 14) 595.4390672118101 16.431358753908707
mean requires at least one data point gak buat
teknologihasilperikanan A (8, 14) 616.7858064516129 16.0258064516129
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
administrasinegara B (12, 14) 530.6159213235132 16.029170511494776
agribisnis A (22, 14) 569.4230025419381 13.961342662135847
mean requires at least one data point gak buat
agroekoteknologi A (7, 14) 463.16703687659077 10.494288189743868
akuntansi A (30, 14) 546.6715911433346 15.433886507303576
antropologi B (3, 14) 49.35076192216335 0.9932395395578294
mean requires at least one data point gak buat
biologi B (20, 14) 468.2190662566396 11.013838412077162
bioteknologi D (2, 14) 363.89779874213843 7.574343322234554
budidayaperairan A (13, 14) 301.3693860845839 9.618171896316507
farmasi B (15, 14) 601.0520605081458 15.792356260926693
fisika A (18, 14) 251.0288357541011 6.046808853320392
ilmuhukum B (24, 14) 430.66414603183074 11.115838429887395
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmukomunikasi A (17, 14) 533.7562004621636 13.428313930431145
mean requires at least one data point gak buat
ilmupemerintahan D (6, 14) 490.716642705275 15.678849853194292
mean requires at least one data point gak buat
ilmutanah B (7, 14) 333.3735581061694 7.004232424677189
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia A (23, 14) 388.8856980222327 9.01667914689516
manajemen A (37, 14) 572.7067912915784 16.53395363771478
manajemensumberdayaperairan A (8, 14) 451.3816901408452 10.573943661971834
matematika A (20, 14) 427.0421028440593 11.774235697631196
nan D (365, 14) 525.7252600181959 14.50758075683681
nan D (365, 14) 549.9446660382356 15.17592412064281
nan D (365, 14) 326.9198407421355 9.021472528093105
nan D (365, 14) 417.5334922521839 11.521989370118913
nan D (365, 14) 499.2821549457693 13.77787360468956
nan D (365, 14) 417.5334922521839 11.521989370118913
nan D (365, 14) nan nan
nan D (365, 14) 467.63751132244596 12.90462809453318
nan D (365, 14) 267.2214350413977 7.374073196876103
nan D (365, 14) 564.2782730243108 15.571465245830609
nan D (365, 14) 432.2699684493198 11.928647818476048
nan D (365, 14) 393.98032089436845 10.872030995394256
nan D (365, 14) 496.2683793625958 13.694707365627051
nan D (365, 14) nan nan
nan D (365, 14) 552.7062055712362 15.252129813682586
nan D (365, 14) 296.912705601553 8.193414663195671
nan D (365, 14) 507.7207265786557 14.010739074064597
nan D (365, 14) nan nan
nan D (365, 14) 174.72170752706768 4.821509397957451
pendidikanbahasadansastraindonesia B (20, 14) 507.4543729581896 13.253229396880187
pendidikanbahasainggris B (34, 14) 514.749999732545 12.763516105424008
pendidikanbiologi B (23, 14) 575.465638452724 13.195980055127135
pendidikanekonomi B (18, 14) 430.2178911233044 4.447232821769768
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 519.1468293974373 9.690670337816373
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 532.6825714285714 9.771918367346938
pendidikanmatematika A (15, 14) 587.0685682607093 17.864661024712195
pendidikanpancasiladankewarganegaraan B (16, 14) 419.3911830635118 13.912826899128268
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi A (17, 14) 440.17140702417214 10.32911020235518
statistika B (10, 14) 554.2989553866917 15.560426792390814
teknikarsitektur B (4, 14) 598.2757022143549 12.578546481218888
teknikelektro B (29, 14) 549.73141499096 13.351122000231596
teknikgeofisika B (4, 14) 415.8823081906375 5.8126645404348665
teknikinformatika B (23, 14) 639.6199329918294 16.18165187888414
teknikmesin B (23, 14) 554.1526809962794 13.305320712136156
mean requires at least one data point gak buat
tekniksipil B (27, 14) 625.3478578591753 12.771841368206648
mean requires at least one data point gak buat
teknologipangan B (4, 14) 452.2641339561671 9.252809459239302
agribisnis A (22, 14) 582.6704290899427 14.286148405146811
agroteknologi A (13, 14) 565.7118974343421 11.535928811362645
antropologisosial A (3, 14) 630.2130562298407 13.619076912845408
mean requires at least one data point gak buat
biologi A (29, 14) 582.3253838245329 14.738834413287774
dokterhewan B (3, 14) 645.7251992481202 20.815680451127818
farmasi A (8, 14) 654.6930096612915 19.28438126652029
fisika A (18, 14) 582.9005314376568 14.04096897280376
fisioterapi B (2, 14) 612.9758491937026 17.75051603033973
geofisika A (2, 14) 671.3447794871795 17.694374358974358
mean requires at least one data point gak buat
ilmudanteknologipangan A (3, 14) 623.9662490083159 16.478441614775665
ilmuekonomi A (3, 14) 699.1025804215536 23.221135757635242
ilmugizi A (6, 14) 647.5942790157119 17.73981744340604
ilmuhukum A (26, 14) 623.8267068639606 16.941936186189164
ilmukelautan A (12, 14) 541.2195955754746 15.436855710654713
ilmukomputer B (7, 14) 599.5262290173116 17.79181830405598
ilmukomunikasi A (17, 14) 620.4931929057386 15.610455445424794
ilmupemerintahan D (6, 14) 593.0123504841008 18.947292174710867
ilmupolitik A (6, 14) 597.5189569968762 13.279782541480243
mean requires at least one data point gak buat
kehutanan A (2, 14) 569.7176754890678 14.49333486766398
keperawatan B (4, 14) 578.9962058038129 11.885836685370471
kesehatanmasyarakat A (4, 14) 656.8982548995538 16.39947200698464
mean requires at least one data point gak buat
kimia A (23, 14) 585.3703686055316 13.572360265905383
manajemen A (37, 14) 613.9491234191472 17.72461318231461
matematika A (20, 14) 589.7334071410984 16.259895893642067
nan D (365, 14) 509.6219067489107 14.063202835939606
nan D (365, 14) 552.2061446664721 15.238330450191949
nan D (365, 14) 595.0969859594296 16.4219188966834
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 317.3254541116598 8.756711921290373
nan D (365, 14) 612.2132421351171 16.894248243602927
nan D (365, 14) 462.4986375716499 12.762818994593255
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi C (3, 14) 626.9540436320328 17.154669601934387
sastraarab A (5, 14) 504.14134802918505 11.942682642462886
mean requires at least one data point gak buat
sastrainggris B (13, 14) 589.6802670547925 16.235454903043163

sastrajepang B (4, 14) 501.4023736984419 10.96597582133351
sastraperancis B (3, 14) 446.6141815880133 7.525345109995506
sosiologi A (17, 14) 603.5895201904857 14.163897453456903
statistika A (8, 14) 660.9432815544104 18.792711970106016
teknikarsitektur A (4, 14) 622.9234762474125 15.528290527903367
teknikelektro A (9, 14) 630.5496511758213 18.09724555531035
teknikgeologi A (4, 14) 663.6472825170398 19.895295694969626
teknikindustri A (10, 14) 654.4987674266569 18.527753074556507
teknikkelautan A (2, 14) 576.4471941391942 15.131052503052503
tekniklingkungan A (8, 14) 644.7681503851843 14.66924448492254
teknikmesin A (11, 14) 615.0191605361964 15.622646612686873
mean requires at least one data point gak buat
teknikperkapalan A (4, 14) 626.341371884696 15.697638441546465
teknikpertambangan B (5, 14) 619.9912727272726 15.50690909090909
tekniksipil A (16, 14) 658.4940406652034 18.188728176524155
tekniksistemperkapalan A (2, 14) 641.055327249163 18.127732476509344
akuntansi B (24, 14) 539.481261062584 15.60186422183423
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmukomunikasi B (24, 14) 537.2018318655647 13.557551338993942
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia B (26, 14) 487.46182321529807 9.606831209702593
manajemen B (25, 14) 542.6667121765524 12.917066236748745
nan D (365, 14) 535.047443465242 14.764829817274551
nan D (365, 14) 618.3841758857623 17.06453741656273
nan D (365, 14) 641.6613471055784 17.706879466572865
nan D (365, 14) 513.0356280490923 14.157405723284231
nan D (365, 14) 557.5880337477984 15.38684564702494
nan D (365, 14) 497.48671417281486 13.728327760141681
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuperpustakaan B (4, 14) 0.0 0.0
mean requires at least one data point gak buat
nan D (365, 14) 384.63691407473914 10.614196268230755
nan D (365, 14) 488.19300632563045 13.471864494292882
nan D (365, 14) 467.63751132244596 12.90462809453318
nan D (365, 14) 392.9726985902908 10.844225289523683
nan D (365, 14) 148.45635280077647 4.096707331597834
nan D (365, 14) 308.3324250477666 8.508545996395505
nan D (365, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknologiinformasi D (4, 14) 587.9050275482093 15.616701101928374
mean requires at least one data point gak buat
biologi A (29, 14) 557.5262426181816 14.111160528574741
fisika B (26, 14) 519.7723471528817 12.186284169197478
kimia B (26, 14) 554.355361455441 10.925159949077543
manajemen A (37, 14) 562.7196727266002 16.245627119086787
matematika B (22, 14) 543.9914021717503 16.619153575564003
pendidikanips A (3, 14) 509.1405164637663 7.834605083434745
mean requires at least one data point gak buat
psikologi B (24, 14) 543.631398032157 13.774266709732721
sastrainggris A (12, 14) 484.36735075536797 13.296327518359194
teknikinformatika B (23, 14) 593.4058268431269 15.012487912879887
mean requires at least one data point gak buat
ilmukomunikasi D (3, 14) 562.8722365177151 16.633207478021113
mean requires at least one data point gak buat
ilmupolitik B (13, 14) 437.204032605138 9.628083102124304
mean requires at least one data point gak buat
pendidikanbiologi B (23, 14) 497.13494003621264 11.399781872403878
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi C (7, 14) 593.1812107824609 18.43418068418069
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuekonomi D (3, 14) 581.3927105191132 15.121795456618921
ilmuhubunganinternasional B (7, 14) 622.5993922534961 14.291188601271443
mean requires at least one data point gak buat
ilmukomunikasi B (24, 14) 574.9761247208903 14.510874437133394
ilmupolitik B (13, 14) 586.5307620512591 12.916548105314645
manajemen B (25, 14) 587.6865270946554 13.988670442820096
mean requires at least one data point gak buat
pendidikanbahasainggris A (7, 14) 592.297691254732 23.48523755966423
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi B (24, 14) 578.7627671527945 14.66440817304295
sastraindonesia D (9, 14) 572.7124321368066 13.207322609278748
sastrainggris B (13, 14) 564.3290096334686 15.537467841927723
mean requires at least one data point gak buat
sosiologi A (17, 14) 596.4351949116588 13.996013276862849
tekniklingkungan B (7, 14) 615.0114883346741 10.15706838294449
biologi B (20, 14) 613.3790132760503 14.428411451913936
fisika B (26, 14) 597.1349448126022 14.000083237795
pendidikanbiologi B (23, 14) 619.6195474394601 14.208471615720525
mean requires at least one data point gak buat
pendidikankimia A (15, 14) 626.3266549330036 13.628284912643373
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmugizi B (2, 14) 630.5029983420716 16.24455924188013
ilmuhukum B (24, 14) 584.1766909360597 15.078138662770304
ilmupolitik B (13, 14) 591.3005359003915 13.021587802053359
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi B (19, 14) 601.863244643204 12.620881000607985
teknologiinformasi D (4, 14) 690.9958437385906 18.355133990507483
agroteknologi A (13, 14) 200.87038087987807 4.096124590362741
akuntansi B (24, 14) 122.56554461792942 3.5446105794993756
ilmuadministrasinegara B (8, 14) 132.88787525933017 3.0969491346039355
ilmugizi D (3, 14) 548.9961547344111 15.187517321016168
ilmuhukum A (26, 14) nan nan
ilmukomunikasi A (17, 14) 68.7090432402003 1.728591820928891
manajemen A (37, 14) 245.875490849484 7.098386169278021
matematika B (22, 14) nan nan
mean requires at least one data point gak buat
pendidikanekonomi B (18, 14) 478.87915148542595 4.950252242152466
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 320.88498 5.8865485714285715
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi B (24, 14) 291.44890712953384 7.38458998798457
sisteminformasi B (13, 14) 345.2936283059566 8.649342213544152
teknikelektro B (29, 14) 322.0729084018205 7.822064695198167
teknikindustri B (13, 14) 294.50174561273997 6.3027588152504075
teknikinformatika B (23, 14) 374.54667230002315 9.475601917538885
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmukesehatanmasyarakat B (6, 14) 496.16753325295844 14.201338866850637
ilmukomputer B (7, 14) 514.2850227568437 15.26216075047293
ilmukomunikasi B (24, 14) 535.0428941379962 13.503065469171878
ilmuperpustakaan B (4, 14) 461.71058968205426 10.789871487168902
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sisteminformasi B (13, 14) 550.1363141028054 13.780495365980938
agroteknologi B (15, 14) 639.242712986917 17.842433882770347
mean requires at least one data point gak buat
biologi B (20, 14) 618.2266912753546 14.542442566846907
fisika B (26, 14) 607.9285763764673 14.253144529291891
ilmupolitik D (2, 14) 599.4548651270723 16.342547738133476
kimia B (26, 14) 612.4704558453083 12.070484312854033
matematika B (22, 14) 611.4488935003368 18.68000675033183
nan D (365, 14) 609.1076828149506 16.808549198761707
sosiologi B (19, 14) 591.4005300599118 12.40148120028069
teknikelektro B (29, 14) 590.9530438115257 14.352256336788814
agribisnis A (22, 14) 635.8541512561951 15.590128339038213
biologi A (29, 14) 655.886600270963 16.600691406921165
fisika B (26, 14) 618.1166227714962 14.49200761844787
ilmukeperawatan B (8, 14) 594.4303848472769 15.568993321758155
pendidikankimia B (18, 14) 612.9089318181817 11.243649350649347
mean requires at least one data point gak buat
mean requires at least one data point gak buat
administrasipendidikan B (3, 14) 566.4735337745321 8.818233683249657
agribisnis B (16, 14) 538.7457520495232 12.096530031788523
agroekoteknologi B (7, 14) 478.82231174100974 13.162383486724103
akuntansi B (24, 14) 544.9936496364388 15.761283175326472
mean requires at least one data point gak buat
biologi B (20, 14) 586.1001017612524 13.786734200529526
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuekonomidanstudipembangunan A (3, 14) 561.8543367389545 11.912041322319112
mean requires at least one data point gak buat
ilmuhukum A (26, 14) 524.321458589821 14.239564601416644

mean requires at least one data point gak buat
ilmupolitik C (4, 14) 490.60056019656014 12.54176904176904
mean requires at least one data point gak buat
mean requires at least one data point gak buat
keperawatan B (4, 14) 578.1627979651163 11.868728197674416
mean requires at least one data point gak buat
kimia B (26, 14) 598.176708436164 11.78878508601402
manajemen B (25, 14) 557.1876037221266 13.262706228482386
mean requires at least one data point gak buat
nan D (365, 14) nan nan
nan D (365, 14) 607.6266299308164 16.76767900294692
mean requires at least one data point gak buat
pendidikanbahasaarab B (3, 14) 392.41461460299024 9.61649005661199
pendidikanbahasadansastraindonesia B (20, 14) 513.1636249348661 13.402338420594758
pendidikanbahasainggris B (34, 14) 583.4478380427156 14.466917690922328
pendidikanbiologi B (23, 14) 560.8311269015434 12.860396642944355
pendidikanekonomi B (18, 14) 550.0970765781304 5.686443601241808
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 519.5341558441559 13.441558441558442
pendidikangurusekolahdasar(pgsd) A (12, 14) 574.6932176028688 16.77640230339465
pendidikankimia A (15, 14) 547.2006940283458 11.906577668185276
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi C (3, 14) 583.7856807191841 15.973500087919819
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sisteminformasi B (13, 14) 646.4459440715622 16.192978191529836
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agribisnis A (22, 14) 595.7261802657981 14.606254574135436
mean requires at least one data point gak buat
agroteknologi A (13, 14) 601.4145606090175 12.263973214577472
biologi B (20, 14) 608.93428119558 14.323858766115269
ekonomisyariah D (3, 14) 600.2298768108801 13.075588843993298
ekonomisyariah D (3, 14) 579.375907536266 12.62129968156622
fisika A (18, 14) 630.3006636869276 15.18274831648924
ilmugizi D (3, 14) 665.0394219830717 18.39775680289186
ilmukeperawatan A (7, 14) 629.3504484355356 18.09716339098035
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia B (26, 14) 595.3223286991484 11.73253135898155
matematika B (22, 14) 591.936611091516 18.083898766515595
nan D (365, 14) 623.1575131677756 17.19625940400543
nan D (365, 14) 632.8928724664684 17.464910203127616
nan D (365, 14) 527.4107270553902 14.554091835939678
nan D (365, 14) 615.8619010719713 16.994934320925395
nan D (365, 14) 566.8333470575102 15.641973447919005
mean requires at least one data point gak buat
pendidikanbiologi A (16, 14) 582.8406425751938 15.08677665867103
pendidikanekonomi A (10, 14) 570.4843537781929 12.889461729408616
pendidikanfisika A (15, 14) 570.0065083160084 13.2935457408815
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 484.2768679511278 12.52937030075188
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanilmupengetahuanalam D (4, 14) 570.9186676989153 11.272538475902957
pendidikanluarsekolah A (8, 14) 535.255195988492 8.231459022771265
pendidikanmatematika A (15, 14) 599.0253993545451 18.228510745118715
pendidikansejarah A (13, 14) 589.5442582496149 16.95181555130654
perencanaanwilayahdankota B (5, 14) 625.4624332531519 13.963904328095945
sastraindonesia D (9, 14) 538.4269179008226 12.416664292939819
sosiologi B (19, 14) 587.9976237517303 12.330123336257548
teknikelektro B (29, 14) 592.3035174388643 14.385054786477177
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikmesin B (23, 14) 578.3338888942989 13.88591652502937
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknologiinformasi B (3, 14) 650.8738414346391 17.02737030411449
mean requires at least one data point gak buat
agroteknologi A (13, 14) 616.9062660031383 12.57987820332472
budidayaperairan A (13, 14) 563.525419415129 17.98485381112114
ilmukelautan A (12, 14) 601.0920610659745 17.144559235016686
manajemensumberdayaperairan A (8, 14) 607.1075307950729 14.221934490481525
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikpertanian A (6, 14) 627.2362223449918 14.841161977367326
mean requires at least one data point gak buat
agroteknologi B (15, 14) 60.79855421686749 1.6969989047097485
akuntansi B (24, 14) 455.1734419877362 13.163671756253578
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ekonomipembangunan B (14, 14) 288.73446762013987 7.252435633782908
ilmuhukum B (24, 14) 35.71841286669521 0.9219251476041133
ilmukelautan A (12, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
manajemen B (25, 14) 452.6434975719531 10.774248555471223
mean requires at least one data point gak buat
nan D (365, 14) nan nan
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 165.45535705688948 4.102558748172003
pendidikanbiologi B (23, 14) 459.1373650015977 10.528460964958995
pendidikandokter C (3, 14) 625.6553231523426 14.818023609740269
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 208.2453383458647 3.887218045112783
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) nan nan
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 310.3336363636364 5.692987012987014
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sastrainggris B (13, 14) 146.97578260222699 4.046631409587608
teknikelektro B (29, 14) 145.6826459289831 3.5381401282049363
teknikinformatika B (23, 14) 560.5863237586643 14.182192066303257
teknikmesin B (23, 14) nan nan
mean requires at least one data point gak buat
tekniksipil A (16, 14) 561.9096611957875 15.520902933196489
mean requires at least one data point gak buat
mean requires at least one data point gak buat
administrasipublik A (4, 14) 604.6956442160287 15.750424108395592
agribisnis A (22, 14) 563.9623144449523 13.827455310636642
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agroteknologi A (13, 14) 523.2897237289889 10.670860959497261
akuntansi D (6, 14) 655.4883692884762 20.13472320179472
mean requires at least one data point gak buat
bimbingankonseling A (11, 14) 457.96445595189385 11.17215370836693
biologi B (20, 14) 527.8105837802119 12.415599664523343
budidayaperairan A (13, 14) 378.0815934515689 12.066433833560708
fisika B (26, 14) 386.0747384771933 9.05168676133484
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 477.13900346309 12.315397322862307
mean requires at least one data point gak buat
ilmukeperawatan B (8, 14) 581.5597596916799 15.231892994785763
ilmukomputer B (7, 14) 610.4529111316035 18.116083587932405
ilmukomunikasi A (17, 14) 597.791810547736 15.039330859529477
mean requires at least one data point gak buat
ilmutanah A (4, 14) 546.9832438301522 16.337800315665223
mean requires at least one data point gak buat
kesehatanmasyarakat B (9, 14) 608.3305769516935 12.615489415999516
kimia B (26, 14) 501.8136605300929 9.889675264490139
manajemen B (25, 14) 553.7610162184543 13.181143352489082
mean requires at least one data point gak buat
matematika B (22, 14) 501.4328874610088 15.318974033935131
nan D (365, 14) 287.95413258771305 7.946199565599248

nan D (365, 14) 581.0674433842894 16.034768540082155
nan D (365, 14) 575.780992630636 15.888886998793815
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 380.71871121489465 10.506072027807352
nan D (365, 14) nan nan
nan D (365, 14) nan nan
mean requires at least one data point gak buat
pendidikanbahasadansastraindonesia B (20, 14) 462.05389261154704 12.067501156417906
pendidikanbahasainggris A (7, 14) 567.6224240020691 22.50683679627554
pendidikanbiologi A (16, 14) 523.4854829892213 13.550373788313863
pendidikanekonomi A (10, 14) 515.6637986203024 11.650852040969557
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 391.8462579525737 7.3144102860702045
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 340.52756024096385 8.81024096385542
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 447.87350399999997 8.216118857142856
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan A (10, 14) 339.62326791552033 6.386951971330649
pendidikansejarah A (13, 14) 378.00845188144956 10.869293464335852
pendidikansosiologiantropologi A (2, 14) 467.9446324007807 13.475384949034915
mean requires at least one data point gak buat
psikologi B (24, 14) 578.7166269300984 14.663239094627384
mean requires at least one data point gak buat
teknikkimia B (7, 14) 511.7439411892733 10.745257960529251
tekniklingkungan B (7, 14) 574.1250527373178 9.481818684078352
teknikmesin B (23, 14) 440.49483520010375 10.57637228036129
mean requires at least one data point gak buat
tekniksipil B (27, 14) 518.2642177075534 10.584810185548262
mean requires at least one data point gak buat
teknologiindustripertanian B (7, 14) 539.1206366047745 10.927533156498674
mean requires at least one data point gak buat
teknologipendidikan B (4, 14) 511.3610690423163 10.850779510022273
administrasinegara A (5, 14) 621.1860864901944 13.272576749469993
agribisnis A (22, 14) 594.7147606049053 14.581456179272728
mean requires at least one data point gak buat
agroteknologi A (13, 14) 576.5680184440838 11.75730552220061
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi A (29, 14) 569.4572145036552 14.413137093385753
biologi A (29, 14) 513.7494435196019 13.003156290771928
budidayaperairan A (13, 14) 538.2411573442474 17.177909276944064
fisika B (26, 14) 492.9211927112177 11.55674741125048
ilmuhukum A (26, 14) 569.3627503903865 15.462799648958647
ilmukomputer A (5, 14) 624.1760661135329 17.450757221861313
ilmupemerintahan B (7, 14) 614.6276979467942 10.234243005641305
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia A (23, 14) 545.5142206194223 12.648258144769077
matematika B (22, 14) 530.1421223969676 16.196052573288604
nan D (365, 14) 555.2066978056067 15.32113181107704
nan D (365, 14) 457.4060599807709 12.62228745411225
nan D (365, 14) 544.7647280886862 15.032981839125101
nan D (365, 14) 575.2683671030089 15.874740909941611
nan D (365, 14) 496.75779591029067 13.708212994192758
nan D (365, 14) 508.3016427417891 14.026769667970848
nan D (365, 14) 130.70613670503147 3.606883628906789
nan D (365, 14) 548.5643280321375 15.137833188709074
nan D (365, 14) 173.6939327769085 4.793147577969467
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 604.8905526811013 14.998601875037428
pendidikanbiologi B (23, 14) 591.296710983165 13.559001760340788
pendidikanekonomi B (18, 14) 565.8141359089341 5.848913418420145
mean requires at least one data point gak buat
pendidikangeografi A (11, 14) 588.9825628212999 17.486008305190683
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 541.7978434504793 14.017571884984028
pendidikangurusekolahdasar(pgsd) A (12, 14) 567.98721641381 16.580641207998468
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 563.997652173913 10.3463850931677
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) 578.5252525252525 19.191919191919194
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi A (17, 14) 599.6352895242238 14.07110704575305
teknikelektro B (29, 14) 529.3978231638962 12.857287633515432
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikinformatika B (23, 14) 592.4587782313578 14.988528667463084
teknikkimia B (7, 14) 540.8504845570887 11.356417745048972
teknikmesin B (23, 14) 448.9717819475206 10.779905528511069
teknikpertanian A (6, 14) 567.4188701649823 13.425811617909826
tekniksipil A (16, 14) 602.8846645363831 16.65270239039641
mean requires at least one data point gak buat
teknologiindustripertanian A (3, 14) 634.4772028016079 17.019538341004026
administrasinegara B (12, 14) 327.8695953013706 9.904485405397821
agribisnis B (16, 14) 574.5607973421928 12.900690007666753
agroekoteknologi B (7, 14) 436.7747365510375 12.006534446764089
akuntansi B (24, 14) 352.91905609349476 10.20646237762435
antropologi B (3, 14) 78.23901280342965 1.5746480505185088
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ekonomipembangunan B (14, 14) 359.3382166834797 9.025861403855105
ekonomisyariah B (5, 14) 345.75836226542066 8.427649388984904
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmukomunikasi B (24, 14) 292.892628723801 7.391834158394208
ilmupolitik B (13, 14) 14.256653237124095 0.3139592315910105
manajemen B (25, 14) 383.5496848126004 9.129612288060535
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sisteminformasi B (13, 14) 521.4970065484608 13.063102540020726
sosiologi B (19, 14) 408.90086315659556 8.574521173833496
teknikelektro B (29, 14) 434.8152535581527 10.56019601483389
teknikindustri B (13, 14) 437.88876596539853 9.371446250837252
teknikinformatika B (23, 14) 532.2112810698856 13.464335978406508
teknikkimia B (7, 14) 305.7869708606973 6.420710864169791
mean requires at least one data point gak buat
teknikmesin B (23, 14) 223.7362627434354 5.371954035094084
tekniksipil B (27, 14) 388.8329874788201 7.941361231821332
akuntansi B (24, 14) 409.1147056246953 11.831647452851389
mean requires at least one data point gak buat
ilmuadministrasinegara B (8, 14) 557.9440966953383 13.002875424458136
mean requires at least one data point gak buat
ilmuhukum C (4, 14) 541.7189225589225 10.435185185185185
mean requires at least one data point gak buat
ilmupemerintahan B (7, 14) 583.6619157620494 9.718627876682588
manajemen C (5, 14) 413.16775422813964 10.788233177401944
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
pendidikanbahasadansastraindonesia B (20, 14) 312.4135707230584 8.159332030886429
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi B (19, 14) 531.6353137618405 11.148223604660755
teknikelektro B (29, 14) 353.95487307189967 8.596370089268289
teknikinformatika B (23, 14) 519.0568057071187 13.131542814857038
mean requires at least one data point gak buat
agribisnis A (22, 14) 514.2687787324953 12.609049174815674
agroekoteknologi B (7, 14) 457.2439438057816 12.569214064964306
akuntansi B (24, 14) 556.622977302165 16.097604757422783
biologi A (29, 14) 549.3031416946095 13.903031317238828
mean requires at least one data point gak buat
mean requires at least one data point gak buat
fisika B (26, 14) 387.98637810126337 9.096505966926715
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhukum A (26, 14) 498.2955474115743 13.532750799574337
ilmukomunikasi B (24, 14) 573.0002617493409 14.461008889239464
ilmutanah B (7, 14) 470.5103713346123 9.88549907128285
mean requires at least one data point gak buat
kimia B (26, 14) 430.4572921646336 8.483393676933774
manajemen B (25, 14) 545.5394003414189 12.985444676904537
matematika B (22, 14) 501.4328874610088 15.318974033935131
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 548.7583041028703 15.143186029299141
nan D (365, 14) 555.4602863220065 15.328129678899764
nan D (365, 14) 543.7645480493558 15.00538150527114
pendidikanbahasadansastraindonesia B (20, 14) 386.0742373379469 10.083133980770633
pendidikanbahasainggris B (34, 14) 461.82044716977947 11.451098044348228
pendidikanbiologi B (23, 14) 511.0134869460189 11.718030288952896
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 443.70153061224494 11.479591836734695
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 405.1998536585366 7.433282229965156
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikelektro B (29, 14) 425.50795147997513 10.334153037936161
teknikinformatika B (23, 14) 621.1387600332058 15.714099365736127
teknikmesin B (23, 14) 339.04664486069 8.140580206406144
mean requires at least one data point gak buat
tekniksipil B (27, 14) 552.0930090483049 11.275715177469635
administrasinegara A (5, 14) 619.6689854472099 13.240161599698233
agribisnis B (16, 14) 571.5338113130904 12.83272468772215
mean requires at least one data point gak buat
agroekoteknologi B (7, 14) 557.6385311124795 15.328968624682718
akuntansi B (24, 14) 529.4831527494551 15.312717703437304

mean requires at least one data point gak buat
biologi B (20, 14) 513.5498293591933 12.080146334775076
budidayaperairan A (13, 14) 324.61550952912484 10.360069453057175
mean requires at least one data point gak buat
ekonomipembangunan B (14, 14) 499.2202862024441 12.539420813192049
mean requires at least one data point gak buat
farmasi B (15, 14) 608.8965913073755 15.998467566786811
fisika B (26, 14) 448.9848209471077 10.526640452667968
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 552.1079673046081 14.250415357209638
mean requires at least one data point gak buat
ilmukomunikasi B (24, 14) 587.020816938222 14.8148505656804
mean requires at least one data point gak buat
kimia B (26, 14) 472.3983245460506 9.309961829884259
manajemen B (25, 14) 556.0103522720289 13.234684176241096
manajemensumberdayaperairan A (8, 14) 433.92011605415865 10.164893617021278
mean requires at least one data point gak buat
nan D (365, 14) 620.5667413118081 17.124766107446522
nan D (365, 14) 539.2721731257122 14.881412776828281
nan D (365, 14) 574.2916805714249 15.847788888023205
nan D (365, 14) 628.6113093686015 17.34675890409046
nan D (365, 14) 598.1917745207759 16.50732071849716
nan D (365, 14) 630.4167657666776 17.396581133475312
pendidikanbahasadansastraindonesia B (20, 14) 538.7560431705595 14.070737803422599
pendidikanbiologi A (16, 14) 556.0783530149063 14.394037244194367
pendidikanekonomi B (18, 14) 483.06537982953705 4.993525970362012
pendidikanfisika A (15, 14) 426.881400369648 9.955618644619767
pendidikangeografi B (14, 14) 500.56488161397283 9.343809835146875
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 446.81522556390973 11.56015037593985
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 419.51125301204814 7.695820998278829
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan A (10, 14) 482.5502843255102 9.074836093107795
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sisteminformasi D (5, 14) 590.9131752287685 17.410098782019155
statistika B (10, 14) 585.6290931901378 16.439934702244155
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikindustri B (13, 14) 603.895237033207 12.924222302246774
mean requires at least one data point gak buat
mean requires at least one data point gak buat
tekniklingkungan B (7, 14) 605.9568595041321 10.007528925619834
mean requires at least one data point gak buat
tekniksipil B (27, 14) 602.1783816571262 12.298637740948601
mean requires at least one data point gak buat
mean requires at least one data point gak buat
administrasinegara B (12, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi B (24, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhukum C (4, 14) nan nan
manajemen B (25, 14) 26.42846744853559 0.6290753733525993
mean requires at least one data point gak buat
nan D (365, 14) nan nan
pendidikanbahasadansastraindonesia B (20, 14) nan nan
pendidikanbahasainggris B (34, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sisteminformasi B (13, 14) 65.03818341379318 1.629156923784001
teknikelektro B (29, 14) nan nan
mean requires at least one data point gak buat
teknikmesin B (23, 14) nan nan
tekniksipil B (27, 14) nan nan
mean requires at least one data point gak buat
agribisnis B (16, 14) 514.7080513231756 11.556808340016039
agroteknologi B (15, 14) 418.55875420047533 11.682740758954184
akuntansi B (24, 14) 475.22636667120855 13.74360479701569
mean requires at least one data point gak buat
bimbingankonseling A (11, 14) 282.5105410092852 6.8919130019146655
biologi B (20, 14) 218.50223091976525 5.1397912589693435
budidayaperairan A (13, 14) 223.59664128856227 7.1360630198477315
ekonomipembangunan B (14, 14) 319.4533165842492 8.024032030612123
farmasi B (15, 14) 605.9868831753586 15.922016373195897
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 305.83785764830367 7.89395690977761
ilmukomunikasi B (24, 14) 529.8088769580326 13.370972738996135
mean requires at least one data point gak buat
keperawatan B (4, 14) 596.7157735568088 12.249590171725492
kesehatanmasyarakat B (9, 14) 561.3273228633011 11.640741348195691
kimia B (26, 14) 141.70885056813012 2.7927787233662262
manajemen B (25, 14) 467.6428523724577 11.13127738204052
manajemenpendidikan A (4, 14) 438.40704771997144 12.396120970742503
manajemensumberdayaperairan A (8, 14) 411.82517379397524 9.64730356014325
mean requires at least one data point gak buat
nan D (365, 14) 529.0366560790677 14.598959941792286
nan D (365, 14) 637.5488575759375 17.593393814464676
pendidikanbahasadansastraindonesia B (20, 14) 433.5727978716427 11.32365796148828
pendidikanbahasainggris B (34, 14) 439.9818433468123 10.90959756497136
pendidikanbiologi A (16, 14) 440.6397318736021 11.405919107393178
pendidikanekonomi B (18, 14) 306.4826569506726 3.168161434977579
pendidikanfisika A (15, 14) 179.56644422328796 4.18780260397719
pendidikangeografi A (11, 14) 633.5181063238557 18.80820174981758
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 169.41331168831164 4.383116883116882
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia A (15, 14) 243.4111270323348 5.296399512901343
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) 385.5193810444874 12.78916827852998
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sisteminformasi B (13, 14) 572.7347155488976 14.346568098180644
sosiologi B (19, 14) 495.8977822597061 10.398818924514018
statistika B (10, 14) 460.27327989929023 12.920913176482719
teknikelektro B (29, 14) 245.46528012691672 5.961523777660371
teknikgeologi B (4, 14) 306.23135934457633 6.945811798363526
teknikindustri B (13, 14) 436.4741028239389 9.341170435096691
tekniksipil B (27, 14) 531.711465993093 10.859451123041453
teknologihasilperikanan A (8, 14) 0.0 0.0
mean requires at least one data point gak buat
nan D (365, 14) 633.3495051305855 17.477511148440115
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 163.86220073293254 4.521837337707044
nan D (365, 14) 353.6754287312617 9.759802760571315
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 543.534375 14.0625
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikansenimusik B (3, 14) 550.4440283885575 16.92863673966996
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
administrasipendidikan B (3, 14) 566.940969387755 8.825510204081631
akuntansi B (24, 14) 619.7442250843684 17.923078983294822
mean requires at least one data point gak buat
bimbingankonseling A (11, 14) 569.8274995404674 13.901079722198386
biologi A (29, 14) 650.922341964206 16.47504450365973
desainkomunikasivisual B (6, 14) 489.1170960561799 13.330846668765657
ekonomipembangunan B (14, 14) 589.2776971547678 14.801483883321005
fisika A (18, 14) 626.8020622817126 15.098473639885885
geografi A (5, 14) 617.4076336448411 16.0872329060024
mean requires at least one data point gak buat
ilmuadministrasinegara B (8, 14) 596.0345870968796 13.890573501167436

mean requires at least one data point gak buat
kimia B (26, 14) 601.9567425860033 11.863281484121444
manajemen A (37, 14) 619.6538912370645 17.889308918509137
matematika A (20, 14) 649.7404258053531 17.914385641982154
nan D (365, 14) 587.2406536192007 16.205120533457567
nan D (365, 14) 584.5468891530575 16.130785118166475
nan D (365, 14) 563.6702145404482 15.55468564966053
nan D (365, 14) 583.1315213827112 16.09172752708133
nan D (365, 14) 645.4332629668071 17.810966863786525
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 624.3209599725658 17.22836514394304
nan D (365, 14) 283.2547211438816 7.816517588688671
nan D (365, 14) 491.9303690534822 13.574998385158283
nan D (365, 14) 534.4428700827954 14.748146393752206
nan D (365, 14) 491.9303690534822 13.574998385158283
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
pendidikanadministrasiperkantoran A (5, 14) 571.1001696690422 14.628840221034569
pendidikanakuntansi A (7, 14) 567.6779989870889 16.572120828699134
mean requires at least one data point gak buat
pendidikanbahasaarab B (3, 14) 495.5156851405622 12.143078982597054
mean requires at least one data point gak buat
pendidikanbahasadansastraindonesia B (20, 14) 520.463561783435 13.592991497585375
pendidikanbahasainggris A (7, 14) 558.0286717828149 22.126434249913352
pendidikanbahasajerman A (5, 14) 548.0028685657194 15.69723032888732
pendidikanbahasamandarin D (2, 14) 411.8654033945594 14.019995349918624
pendidikanbiologi B (23, 14) 622.3226496126215 14.27045634596422
pendidikanekonomi B (18, 14) 576.4792833119795 5.959160794362589
pendidikanfisika A (15, 14) 610.0713117662087 14.227926821613641
pendidikangeografi A (11, 14) 584.7859442989436 17.36141699983161
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 513.1504658385093 13.27639751552795
pendidikanilmupengetahuanalam B (3, 14) 621.2196729084028 13.623788319417375
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia A (15, 14) 606.8731854748829 13.204995528060124
mean requires at least one data point gak buat
pendidikanluarbiasa A (5, 14) 392.95980566920616 10.457528108151717
mean requires at least one data point gak buat
pendidikanmatematika A (15, 14) 644.1279784979773 19.600994865883038
pendidikanpancasiladankewarganegaraan B (16, 14) 550.4807570125042 18.261574856370395
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikansosiologi A (5, 14) 580.6468421893106 16.618584982297094
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi B (24, 14) 553.0582586925251 14.013119898568803
sastrainggris A (12, 14) 579.0264063569284 15.89480531397055
mean requires at least one data point gak buat
sosiologi B (19, 14) 574.6770661392098 12.050795475675153
statistika B (10, 14) 652.2501914693667 18.3101397829653
teknologipendidikan B (4, 14) 548.8483177204645 11.646236760230538
administrasipendidikan A (3, 14) 551.7198760586656 15.304826826413278
fisika A (18, 14) 636.3035271506128 15.327345919503427
mean requires at least one data point gak buat
nan D (365, 14) 648.3603979462484 17.891742223712995
pendidikanadministrasiperkantoran A (5, 14) 578.1023206224339 14.808201658731377
pendidikanbahasaarab A (3, 14) 546.633748701843 13.438351622226948
mean requires at least one data point gak buat
pendidikanbiologi A (16, 14) 586.1436900928262 15.172275741184084
pendidikanfisika A (15, 14) 589.2387858429554 13.742075989704658
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 523.8690134278254 13.553711301753077
pendidikangurusekolahdasar(pgsd) A (12, 14) 562.5924998648013 16.42315903774343
pendidikanilmupengetahuansosial B (2, 14) 590.7917958502265 18.28762222752206
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanluarsekolah A (8, 14) 540.9503323020051 8.319042070157112
pendidikanpancasiladankewarganegaraan A (10, 14) 541.3514613628633 10.180650473554495
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanteknikinformatika B (3, 14) 583.9095485434791 11.906144223693891
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi C (7, 14) 117.59198897256596 3.654384077461002
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi B (20, 14) 38.55921722113508 0.9070219868769438
fisika B (26, 14) nan nan
mean requires at least one data point gak buat
ilmuadministrasinegara B (8, 14) 234.3994466379852 5.462674167981943
ilmuekonomi D (3, 14) 144.05402512132457 3.746788467028261
ilmuhukum B (24, 14) 139.77205259040116 3.607645465554472
kimia B (26, 14) nan nan
manajemen B (25, 14) 307.26570838850085 7.3138289459783845
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) 386.76786650728616 10.673000679689098
nan D (365, 14) 399.15151460586134 11.014731976465876
nan D (365, 14) 133.61071752069884 3.6870365984380515
nan D (365, 14) nan nan
nan D (365, 14) nan nan
pendidikanbahasainggris B (34, 14) nan nan
pendidikanbahasajepang B (7, 14) 131.1581576937914 3.2816515711787195
pendidikanbahasaperancis B (4, 14) nan nan
pendidikanbiologi B (23, 14) 216.37508005822423 4.961688500727804
pendidikanekonomi B (18, 14) nan nan
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 164.40421448357742 3.068856351404829
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 227.57800000000006 4.174857142857143
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan A (10, 14) 135.65919418136937 2.551205525533514
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikansosiologi B (3, 14) 165.59923068838674 4.28954282711508
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi B (24, 14) 285.24414778734587 7.2273768278205806
sastrainggris A (12, 14) 73.17780119325705 2.008797682629807
mean requires at least one data point gak buat
mean requires at least one data point gak buat
tekniksipil D (5, 14) 463.99304834810636 18.45493311845286
akuntansi A (30, 14) 606.4145554152236 17.12057764897014
biologi B (20, 14) 575.2873422467943 13.532387475538162
fisika B (26, 14) 528.1925204915505 12.383698721204677
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia B (26, 14) 589.4545060206002 11.616889108949632
manajemen A (37, 14) 605.0091973759017 17.466518944615295
matematika B (22, 14) 592.1040992390718 18.089015596000777
nan D (365, 14) 621.0075603074735 17.136930668796577
nan D (365, 14) 568.3440969164056 15.683663142609625
nan D (365, 14) nan nan
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
pendidikanadministrasiperkantoran B (2, 14) 543.4858934169279 14.879832810867292
pendidikanakuntansi A (7, 14) 537.2078160645416 15.682610306949105
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanbahasainggris A (7, 14) 569.6242664425631 22.586211992171414
pendidikanbahasajerman A (5, 14) 478.05210917832267 13.693530631733523
pendidikanbahasaperancis A (2, 14) 459.91694876223386 11.289867587795051
pendidikanbiologi A (16, 14) 585.2672199214534 15.149588391061991
pendidikanbisnis D (2, 14) 507.08050955678095 10.414291044997128
pendidikanekonomi A (10, 14) 591.9580094688572 13.374635181374888
pendidikanfisika A (15, 14) 572.4967337969043 13.351622141505768
pendidikangeografi B (14, 14) 542.2928458977356 10.122726170264372
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 482.45660226869904 12.482275788727403
mean requires at least one data point gak buat
pendidikanilmupengetahuanalam D (4, 14) 575.7928286728753 11.368776644709314
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia A (15, 14) 562.7200327371 12.244264030266326
pendidikanluarsekolah A (8, 14) 459.7162510976007 7.069778138301875
pendidikanmatematika A (15, 14) 576.0557379758764 17.529537513426106
pendidikanpancasiladankewarganegaraan A (10, 14) 519.9072821095514 9.777371440889462
pendidikansejarah A (13, 14) 549.000173223739 15.78600680762417
pendidikansenimusik B (3, 14) 401.9152530342821 12.3607069344879
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikantataboga B (2, 14) 524.1162198553351 14.583089033259185
pendidikantatabusana B (3, 14) 530.5282827352743 14.963953960731214
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sastraindonesia D (9, 14) 502.92928952518236 11.598053409861631
sastrainggris A (12, 14) 563.426769881031 15.466581001519664
teknikelektro D (3, 14) 574.6997201444118 11.078640245070071
tekniksipil D (5, 14) 665.6440356048782 26.47543147794925
administrasinegara B (12, 14) 569.2695992213734 17.196844471174998
administrasipendidikan A (3, 14) 596.6632542048407 16.551565704909066
mean requires at least one data point gak buat
bahasadansastraindonesia A (6, 14) 556.0453788376091 16.185118115737833
bimbingankonseling A (11, 14) 542.5638012632044 13.235975206217963
biologi A (29, 14) 614.0112746578407 15.5408140473584

desainkomunikasivisual B (6, 14) 471.46614672081927 12.849771480339168
desainkomunikasivisual B (6, 14) 332.7144162758393 9.068104352974073
ekonomipembangunan A (21, 14) 626.111176639094 15.715837931219507
fisika A (18, 14) 586.4552973220809 14.12659654525712
mean requires at least one data point gak buat
geografi A (5, 14) 617.2277208974172 16.08254508208697
mean requires at least one data point gak buat
kimia B (26, 14) 588.9000240083398 11.605961452983742
matematika B (22, 14) 610.117848289996 18.639342790059
nan D (365, 14) 640.3069529745951 17.669504465358074
nan D (365, 14) 624.9889761712029 17.246799295173037
nan D (365, 14) 207.32697546315333 5.721263687231458
nan D (365, 14) 611.2136691002136 16.86666466025805
pendidikanbahasadansastraindonesia A (8, 14) 537.4256929492175 17.803331904455447
pendidikanbahasainggris A (7, 14) 575.9813368267661 22.838276638650516
pendidikanbahasajepang B (7, 14) 551.4604357579865 13.797853197001436
pendidikanbiologi B (23, 14) 595.2419517555039 13.649469922235628
pendidikanekonomi A (10, 14) 594.0797833614512 13.42257431100382
pendidikanfisika A (15, 14) 573.2824997054602 13.369947572697548
pendidikangeografi A (11, 14) 587.7904836117578 17.450617262612703
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 519.3490046838408 13.436768149882905
pendidikangurusekolahdasar(pgsd) A (12, 14) 597.9662061668105 17.455785680458956
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankesejahteraankeluarga A (5, 14) 519.4477572094108 12.705537678305559
pendidikankimia A (15, 14) 581.9803991572662 12.66335167251909
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanluarsekolah A (8, 14) 537.9087350995685 8.272266657375932
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan A (10, 14) 540.7526212507362 10.1693886920572
pendidikansejarah A (13, 14) 574.3027215094279 16.51355885399728
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikansosiologi A (5, 14) 551.9628844887724 15.797626778378035
mean requires at least one data point gak buat
pendidikantatarias A (2, 14) 559.0106284006653 11.420033266612162
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi B (24, 14) 585.7179109229199 14.840634207155455
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
statistika B (10, 14) 665.300098613797 18.676480225780576
mean requires at least one data point gak buat
teknikpertambangan B (5, 14) 646.3833976124885 16.167015610651976
tekniksipil D (5, 14) 719.9249826838342 28.63441047885199
teknologipendidikan A (4, 14) 577.5616889291713 13.138719570715073
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agroteknologi B (15, 14) nan nan
akuntansi C (7, 14) nan nan
mean requires at least one data point gak buat
biologi B (20, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia B (26, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) nan nan
nan D (365, 14) 105.4821454110781 2.910818367187937
nutrisidanteknologipakan D (2, 14) nan nan
mean requires at least one data point gak buat
pendidikanbahasainggris D (2, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
nan D (365, 14) 646.9460492905877 17.852712755470186
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 557.8918867924529 14.433962264150944
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankesejahteraankeluarga A (5, 14) 552.2451242534863 13.507751523575326
pendidikanluarsekolah A (8, 14) 566.1297021238702 8.706264749098356
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi A (29, 14) 637.263137772124 16.129325848082377
fisika B (26, 14) 596.9211064548814 13.995069706375459
mean requires at least one data point gak buat
mean requires at least one data point gak buat
manajemenpendidikan A (4, 14) 584.7392152446544 16.533716978792015
nan D (365, 14) 635.8150766735669 17.545549496588585
nan D (365, 14) 607.1428193219991 16.754328072314088
nan D (365, 14) 571.4675267451578 15.769855330668776
pendidikanbahasadansastraindonesia B (20, 14) 577.4884786855047 15.082316144913673
mean requires at least one data point gak buat
pendidikanbahasajerman B (3, 14) 574.1376018024032 11.741655540720961
mean requires at least one data point gak buat
pendidikanbiologi A (16, 14) 584.7535171986293 15.136291243124685
pendidikanfisika A (15, 14) 589.5068924694764 13.748328703754572
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 544.4698902753872 14.086703958691912
pendidikangurusekolahdasar(pgsd) A (12, 14) 575.0247356803084 16.78607995482261
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia A (15, 14) 601.0826004425156 13.078997788684925
pendidikanluarbiasa A (5, 14) 552.4869327040273 14.702897204205458
pendidikanluarsekolah A (8, 14) 559.6804200988469 8.607084019769358
pendidikanpancasiladankewarganegaraan A (10, 14) 563.9771474756384 10.606148913068491
pendidikansejarah A (13, 14) 585.8153125289278 16.844593066864743
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikantataboga A (5, 14) 580.1975102887521 15.413065640865268
pendidikantatabusana B (3, 14) 560.4883466375863 15.809000363504182
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikmesin B (23, 14) 596.7582330166346 14.328288845628288
tekniksipil D (5, 14) 689.6905412629469 27.431861009021052
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
administrasinegara B (12, 14) 489.390155307745 14.783797339718344
mean requires at least one data point gak buat
agribisnis B (16, 14) 488.9633112865372 10.978758267548539
agroteknologi B (15, 14) 309.43741773062396 8.636964574716778

akuntansi B (24, 14) 603.9921186430973 17.467526133469182
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi B (20, 14) 444.8081129438077 10.463146491473303
dokterhewan B (3, 14) 650.9028354391132 20.982587396325865
mean requires at least one data point gak buat
fisika B (26, 14) 375.2984885681413 8.799032990141873
ilmuhukum B (24, 14) 398.7901920061796 10.293142307316257
ilmukesehatanmasyarakat B (6, 14) 581.0717302811389 16.63147222384383
ilmukomputer B (7, 14) 625.4868102763348 18.562236548450898
ilmukomunikasi B (24, 14) 485.51632886428956 12.253146143672732
ilmupeternakan A (2, 14) 222.71575573362807 5.347222028665137
ilmupolitik B (13, 14) nan nan
mean requires at least one data point gak buat
kimia B (26, 14) 466.2678309015895 9.189142896237263
manajemen C (5, 14) 537.7644098343208 14.041579451520203
mean requires at least one data point gak buat
matematika B (22, 14) 484.6824354014277 14.807241065129109
nan D (365, 14) 483.99800734538877 13.356101963729678
nan D (365, 14) 258.7955339364888 7.141557375352985
nan D (365, 14) 291.38507544407736 8.040877688082986
pendidikanbahasainggris B (34, 14) 201.5892856095435 4.998519854094624
pendidikanbiologi B (23, 14) 573.084854897068 13.141386400499064
pendidikanekonomi B (18, 14) 354.6717539554954 3.666300025382858
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 488.39297592515493 9.116602581371998
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 388.23883928571433 10.044642857142858
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 486.2398243902439 8.919938675958187
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) 395.1483832923833 13.108599508599507
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi B (19, 14) 509.691642274485 10.688071786081887
teknikelektro B (29, 14) 531.4220995613623 12.906450479966917
teknikmesin B (23, 14) 462.19500181838254 11.097397777962247
mean requires at least one data point gak buat
tekniksipil B (27, 14) 606.5170264921213 12.387248396424813
nan D (365, 14) 644.857282478373 17.795072471628096
nan D (365, 14) 627.3186127496226 17.31108646827622
nan D (365, 14) 651.1408385502413 17.968469498717084
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agribisnis B (16, 14) 489.8111755336094 10.997795476266326
agroteknologi B (15, 14) 407.54030873493974 11.37519578313253
akuntansi C (7, 14) 392.6732488905326 12.203032544378699
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ekonomipembangunan B (14, 14) 420.8922263405972 10.571975716839736
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 432.74035370105787 11.169427262880973
ilmupemerintahan D (6, 14) 514.0786883616943 16.42528878400199
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
manajemen B (25, 14) 460.0033768869077 10.949435362534516
mean requires at least one data point gak buat
nan D (365, 14) 334.02679380174715 9.21759149609513
pendidikanbahasadansastraindonesia B (20, 14) 392.8679016450499 10.260564694358852
pendidikanbahasainggris B (34, 14) 455.0022319064461 11.282036557473008
pendidikanbiologi B (23, 14) 482.68287089911547 11.068382040085098
pendidikanekonomi B (18, 14) 461.61585367879087 4.771798704534131
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 0.0 0.0
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 277.7223050847458 5.094740920096853
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) 303.2152941176471 10.058823529411764
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikinformatika B (23, 14) 590.951416295592 14.950394136561352
teknikpertambangan B (5, 14) 576.8715789473683 14.42842105263158
tekniksipil B (27, 14) 461.6999878597269 9.429566169514699
mean requires at least one data point gak buat
mean requires at least one data point gak buat
administrasinegara B (12, 14) nan nan
agribisnis A (22, 14) 275.42345589172083 6.7529432912411504
mean requires at least one data point gak buat
agroteknologi A (13, 14) 46.51093753437017 0.9484454309333348
akuntansi B (24, 14) 299.2995943522514 8.65578096917842
mean requires at least one data point gak buat
biologi B (20, 14) nan nan
budidayaperairan A (13, 14) nan nan
ekonomipembangunan B (14, 14) nan nan
fisika B (26, 14) nan nan
ilmuhukum A (26, 14) nan nan
ilmukelautan A (12, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia B (26, 14) nan nan
manajemen B (25, 14) 359.0145609728287 8.545604069656942
manajemensumberdayaperairan A (8, 14) nan nan
matematika B (22, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 132.3642856455116 3.282046998537602
pendidikanbahasajerman B (3, 14) nan nan
pendidikanbiologi B (23, 14) 311.9173232008167 7.152563942607612
pendidikanekonomi B (18, 14) nan nan
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 32.511142857142936 0.5964081632653075
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi A (17, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikindustri B (13, 14) 197.30067735942603 4.222516850943257
mean requires at least one data point gak buat
teknikperkapalan B (2, 14) nan nan
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknologihasilperikanan A (8, 14) nan nan
mean requires at least one data point gak buat
nan D (365, 14) 610.1776579843797 16.838075554748034
agribisnis A (22, 14) 627.7486639204905 15.391394733911257
agroteknologi A (13, 14) 625.7575829010657 12.760373190409826
desainkomunikasivisual B (6, 14) 518.7605564232211 14.13877676990297
teknologipangan B (4, 14) 613.3493074906903 12.548428778828985
akuntansi B (24, 14) 571.855310039464 16.538125687994217
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 500.75359337139605 12.924911647255076
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
manajemen B (25, 14) 564.8818070724562 13.445850932377338
mean requires at least one data point gak buat

nan D (365, 14) 364.39286596554234 10.055554359376504
nan D (365, 14) 222.68452920116482 6.1450609973967545
nan D (365, 14) 580.4400023440196 16.0174540751817
mean requires at least one data point gak buat
pendidikanbahasadansastraindonesia B (20, 14) 482.06495074303325 12.590131678537267
pendidikanbahasainggris B (34, 14) 449.33026732506437 11.141397001724636
pendidikanbahasajepang B (7, 14) 483.7800898541485 12.104452516642818
pendidikanbiologi B (23, 14) 383.57400555776104 8.795720524017467
pendidikanekonomi B (18, 14) 254.1563496664115 2.6272558241277486
mean requires at least one data point gak buat
pendidikangeografi A (11, 14) 540.8081395447548 16.055781981551593
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 417.51586651053873 10.802107728337239
pendidikangurusekolahdasar(pgsd) A (12, 14) 537.5094626563631 15.690936853262103
pendidikanilmupengetahuanalam B (3, 14) 388.2177955911824 8.513891783567134
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 136.5468 2.5049142857142854
pendidikanmatematika A (15, 14) 409.16900212110045 12.451127380860015
pendidikanpancasiladankewarganegaraan B (16, 14) 427.49971291866024 14.18181818181818
pendidikansejarah A (13, 14) 495.3809392236347 14.244233900750634
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanteknikinformatika B (3, 14) 452.11619902405016 9.218826246078772
mean requires at least one data point gak buat
sisteminformasi D (5, 14) 527.851294868386 15.55210405034122
teknologipendidikan B (4, 14) 510.75302972121955 10.837877275170879
mean requires at least one data point gak buat
nan D (365, 14) 523.348839386131 14.442002560668906
nan D (365, 14) 612.1495216952521 16.89248985476848
nan D (365, 14) 574.4012155095464 15.850811544686952
nan D (365, 14) 519.5972348027177 14.338475660592422
nan D (365, 14) 457.4714784676102 12.624092701173764
nan D (365, 14) 357.33098871814815 9.860679274892465
nan D (365, 14) 630.3104470609239 17.393647229919623
nan D (365, 14) 563.6702145404482 15.55468564966053
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 260.70383906477826 7.194217753049857
nan D (365, 14) 588.7593932291923 16.24703070825076
nan D (365, 14) 582.9512197559154 16.086752037771117
nan D (365, 14) 432.8234511233907 11.94392137522186
nan D (365, 14) nan nan
nan D (365, 14) 562.5714421924163 15.524364625002324
nan D (365, 14) 589.4004826546477 16.264721805330304
nan D (365, 14) 564.7463317885209 15.58438149855259
nan D (365, 14) 630.1694975734206 17.38975767728044
nan D (365, 14) 490.0524672223001 13.523176997560618
nan D (365, 14) 404.7331954094162 11.168760498918186
nan D (365, 14) 461.2750962024127 12.729054923178989
nan D (365, 14) 450.21002642844184 12.42371027734561
nan D (365, 14) 615.3801316578342 16.981639717806026
nan D (365, 14) 631.2123971106545 17.418536871297412
nan D (365, 14) 487.49856392687417 13.452701102409106
pendidikanbahasaarab A (3, 14) 549.5994206327504 13.511259199372242
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankesejahteraankeluarga A (5, 14) 510.6771425037111 12.491011050635
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
administrasinegara A (5, 14) 619.6689854472099 13.240161599698233
mean requires at least one data point gak buat
agroteknologi A (13, 14) 607.5952633458194 12.39000935965292
biologi A (29, 14) 598.1337885967121 15.138949995997088
budidayaperairan A (13, 14) 531.9329777998264 16.976584397866798
ekonomipembangunan A (21, 14) 611.4028529400904 15.346648496310731
fisika B (26, 14) 562.7530086277733 13.193984092793158
ilmuhukum A (26, 14) 650.0224552992544 17.653362442001892
ilmukelautan A (12, 14) 579.1454949418618 16.518591555036362
ilmukeperawatan A (7, 14) 623.324235647427 17.923877811020386
ilmukomunikasi B (24, 14) 547.802458685199 13.82508308182812
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia A (23, 14) 619.7138742534299 14.3686466111774
manajemen A (37, 14) 588.4152449933972 16.987454188389815
manajemensumberdayaperairan A (8, 14) 605.043542103686 14.173584057536711
matematika A (20, 14) 625.9451075795869 17.25831055377798
nan D (365, 14) 407.349748538716 11.240965239140401
nan D (365, 14) 192.99325864100942 5.325719531077185
pariwisata B (2, 14) 596.5805337192791 15.953217354149825
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 581.60064904846 14.421115599634918
mean requires at least one data point gak buat
pendidikanbiologi A (16, 14) 611.1199707180156 15.818784477931816
pendidikanekonomi B (18, 14) 541.3781239566625 5.59631435959543
pendidikanfisika A (15, 14) 596.2594711327861 13.905810613206459
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 520.2794597534445 13.460841189267585
mean requires at least one data point gak buat
pendidikankimia A (15, 14) 599.0030343491369 13.03374836653113
mean requires at least one data point gak buat
pendidikanmatematika A (15, 14) 621.7764247918683 18.920830823855905
pendidikanpancasiladankewarganegaraan B (16, 14) 562.1306811057282 18.648047876888004
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi A (17, 14) 555.6695027779407 13.039401103048174
statistika D (4, 14) 624.2816063560116 15.083542493357683
teknikarsitektur B (4, 14) 632.947768677091 13.307515078785599
teknikelektro B (29, 14) 618.4796585325481 15.020784969811876
mean requires at least one data point gak buat
tekniklingkungan B (7, 14) 631.0586927826271 10.42209197360017
teknikmesin B (23, 14) 572.213953562084 13.738975609420592
tekniksipil A (16, 14) 653.1786072930104 18.041906843639232
teknologihasilperikanan A (8, 14) 546.5104324864402 14.199857265201256
mean requires at least one data point gak buat
teknologiindustripertanian D (3, 14) 654.4416024881517 14.554820793838863
administrasinegara B (12, 14) 480.41967099692664 14.51281145932836
mean requires at least one data point gak buat
agribisnis B (16, 14) 182.3366436203646 4.094028912633565
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi A (30, 14) 429.3006888696715 12.120216628898334
antropologisosial B (5, 14) 290.86846604787496 6.7503663898387885
arsitektur A (8, 14) 572.1177258049705 15.787060280478975
biologi B (20, 14) 385.1101819960861 9.058882093933464
budidayaperairan A (13, 14) 226.2026627488019 7.219233917514955
ekonomipembangunan A (21, 14) 323.61031552224205 8.12285016044355
farmasi B (15, 14) 600.366652916213 15.774347503304938
fisika B (26, 14) 211.1442130940453 4.950366050714126
ilmuhukum A (26, 14) 275.08158826763923 7.470688034268807
ilmukelautan A (12, 14) 179.1490064353493 5.109750987691249
mean requires at least one data point gak buat
ilmukesehatanmasyarakat D (3, 14) 509.4252616415926 11.941838084002153
ilmukomunikasi B (24, 14) 452.0892440873596 11.409535062894545
ilmupemerintahan B (7, 14) 524.737863334459 8.73747607790161
ilmupolitik B (13, 14) 385.76826406335704 8.495367443050855
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia B (26, 14) 122.235118460459 2.408993063707021
manajemen A (37, 14) 458.8851607976541 13.247941335832515
mean requires at least one data point gak buat
matematika A (20, 14) nan nan
nan D (365, 14) 316.4464362332342 8.732455101563808
nan D (365, 14) 328.3653227203616 9.061361131754534
nan D (365, 14) 576.7478580904882 15.91556800464717
nan D (365, 14) 415.95789416821344 11.478510164948652
nan D (365, 14) 476.57325994644174 13.151213344747191
nan D (365, 14) 129.3006943748699 3.5680999339723085
nan D (365, 14) 296.912705601553 8.193414663195671
nan D (365, 14) 78.59453971805816 2.1688450579047367
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sastraindonesia D (9, 14) 0.0 0.0
sastrainggris B (13, 14) 197.73957008328546 5.4442925293547555
mean requires at least one data point gak buat

teknikelektro B (29, 14) 435.5304102251891 10.57756475827934
teknikmesin B (23, 14) 344.86108808429174 8.28018619317759
tekniksipil A (16, 14) 610.9523622417942 16.87554595694692
teknologihasilperikanan A (8, 14) nan nan
agribisnis B (16, 14) 538.8678543220711 12.099271610355421
agroteknologi B (15, 14) 479.39390979848594 13.380761275189252
akuntansi C (7, 14) 427.27523943447864 13.278352082699909
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ekonomipembangunan B (14, 14) 456.41433622324325 11.464220475920536
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 427.4267217513043 11.032277526192694
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 386.77875675636506 9.590397073648838
pendidikanbiologi B (23, 14) 506.85121493090867 11.62258539211581
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 418.6375358499341 7.814510503061779
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikindustri C (4, 14) 505.4873495303563 11.71864511727974
mean requires at least one data point gak buat
teknikmesin B (23, 14) 216.38342781759485 5.195410944738881
tekniksipil B (27, 14) 498.6026719653542 10.183251053111519
mean requires at least one data point gak buat
nan D (365, 14) 637.2321994787656 17.584655518502124
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 565.5953739213807 14.633269415148611
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agribisnis B (16, 14) 624.6100623796247 14.024452812832381
agroteknologi B (15, 14) 644.9202570854337 18.000904528013933
mean requires at least one data point gak buat
ekonomisyariah B (5, 14) 593.0973529934269 14.456386569550542
gizi D (3, 14) 609.5379393100952 13.127184650844939
ilmupolitik B (13, 14) 585.6663645325511 12.89751239081357
kesehatanmasyarakat B (9, 14) 618.3237222078131 12.822726110960412
nan D (365, 14) 615.8619010719713 16.994934320925395
pendidikanbahasadansastraindonesia B (20, 14) 575.8210911366173 15.038768841241652
pendidikanbahasainggris B (34, 14) 576.2871564049334 14.28936455744562
pendidikanbiologi B (23, 14) 609.1790715485388 13.969061471279812
pendidikanekonomi B (18, 14) 559.7411187724297 5.7861356453570245
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
tekniksipil B (27, 14) 608.8796745851278 12.435502126366542
mean requires at least one data point gak buat
agroteknologi B (15, 14) 632.0589581447176 17.641922139424754
farmasi D (6, 14) 629.5194812300742 14.651833713541471
gizi D (3, 14) 625.4623098587248 13.470136482320664
ilmuhukum B (24, 14) 597.791650885071 15.429553324095309
mean requires at least one data point gak buat
ilmupemerintahan B (7, 14) 621.7083652551167 10.352144086437939
manajemen B (25, 14) 591.7762180592446 14.086017134430406
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 590.3963831605196 14.639210779929488
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikindustri B (13, 14) 633.6903840199594 13.561881087364384
teknikinformatika B (23, 14) 633.7567502727375 16.033320069994367
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agribisnis A (22, 14) 578.7392371201853 14.189761856104338
agroekoteknologi A (7, 14) 616.6731752744769 13.972380383233347
agronomi A (2, 14) 634.7535429634563 17.067896272136345
mean requires at least one data point gak buat
biologi B (20, 14) 563.1818064551694 13.247630991428021
budidayaperairan A (13, 14) 503.09244289926505 16.056141794657396
ekonomipembangunan A (21, 14) 582.864600489495 14.63031796734413
fisika B (26, 14) 535.1179624136672 12.546068658202048
ilmuadministrasinegara A (6, 14) 586.0173988162486 17.1269275225718
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhukum A (26, 14) 586.7883859495756 15.936046469588836
ilmukelautan A (12, 14) 563.1604548658383 16.062660618315142
ilmukeperawatan A (7, 14) 620.9174825681418 17.85467089486447
ilmukesehatanmasyarakat B (6, 14) 579.7484519686024 16.593597267358305
ilmukomunikasi B (24, 14) 553.5476285117412 13.970075950903215
ilmutanah B (7, 14) 552.9122427126712 11.616775728732899
kesehatanlingkungan B (2, 14) 646.399530341781 10.030490583585213
kimia A (23, 14) 605.3118645477472 14.034722526936104
matematika B (22, 14) 566.446254938712 17.305158253507408
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 599.5323526296703 14.865742287493848
pendidikanbiologi A (16, 14) 591.1652882205441 15.3022593488607
pendidikanekonomi B (18, 14) 560.1234764960569 5.790088139786609
pendidikanfisika A (15, 14) 574.2684046885345 13.392940596105968
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 540.5314226519337 13.984806629834253
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia A (15, 14) 581.5290976287159 12.653531771411334
mean requires at least one data point gak buat
pendidikanmatematika A (15, 14) 617.7649639867595 18.798760947572966
pendidikanpancasiladankewarganegaraan B (16, 14) 549.0730578512396 18.21487603305785
pendidikansejarah A (13, 14) 594.243754086643 17.08694533248694
mean requires at least one data point gak buat
perlindungan/proteksitanaman/hamadanpenyakittanaman A (3, 14) 544.3823646883783 18.40370705901802
mean requires at least one data point gak buat
sisteminformasi B (13, 14) 615.557156034885 15.419237593993765
sistemkomputer B (3, 14) 549.102457205593 14.699008044838498
sosiologi A (17, 14) 583.920164525461 13.702334210067487
teknikelektro B (29, 14) 590.6204544772854 14.344178863578572
teknikgeologi B (4, 14) 632.0767107132887 14.336499972242072
teknikmesin B (23, 14) 571.3411741348136 13.71801999449889
mean requires at least one data point gak buat
teknologihasilperikanan A (8, 14) 581.6050626370186 15.111713122455372
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi C (7, 14) 341.68389960517953 10.61844614715428
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhukum C (4, 14) 257.40060606060604 4.958333333333333
mean requires at least one data point gak buat
ilmupolitik C (4, 14) 276.5190804597701 7.068965517241379
mean requires at least one data point gak buat
manajemen C (5, 14) 479.7445487483137 12.526621461912207
mean requires at least one data point gak buat
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agribisnis B (16, 14) 572.167771563144 12.846959081542538
mean requires at least one data point gak buat
ekonomisyariah B (5, 14) 561.4163763739022 13.684182069562127
ilmuhukum B (24, 14) 547.4076548656254 14.129095962216727
ilmupemerintahan D (6, 14) 620.5160687253765 19.82606136894934
mean requires at least one data point gak buat
nan D (365, 14) 577.1619430315903 15.926994829987501
nan D (365, 14) 87.13742447002097 2.4045890859378596
nan D (365, 14) 648.6616111853958 17.900054313171673
pendidikanbahasadansastraindonesia A (8, 14) 542.6434181234819 17.976179787022982
pendidikanbahasainggris B (34, 14) 577.5129660329646 14.319759197441131
pendidikanbiologi B (23, 14) 574.6558053553985 13.177409804036172
pendidikandokter D (3, 14) 666.7604437826618 11.445780909365904
mean requires at least one data point gak buat
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 513.1504658385093 13.27639751552795
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 585.2005714285715 10.73534693877551
mean requires at least one data point gak buat
pendidikanluarsekolah A (8, 14) 477.1163854033766 7.337367306239239
pendidikanmatematika A (15, 14) 596.3481272197349 18.14704060390337
pendidikanpancasiladankewarganegaraan B (16, 14) 570.1195464491744 18.913069425104435
mean requires at least one data point gak buat

mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikelektro B (29, 14) 588.248865758697 14.286580972221447
teknikindustri B (13, 14) 605.2035276594389 12.952221593932588
teknikkimia B (7, 14) 593.7541881747338 12.467254428562786
teknikmesin B (23, 14) 561.0303354727685 13.47045462142705
mean requires at least one data point gak buat
tekniksipil B (27, 14) 573.4342795925511 11.71158030207437
mean requires at least one data point gak buat
agribisnis B (16, 14) 646.729212510024 14.52109703287891
agroekoteknologi B (7, 14) 621.101927862812 17.073518836557174
antropologisosial A (3, 14) 635.9959396305993 13.744046608465656
arsitektur A (8, 14) 649.1557356975238 17.912853017193566
biologi A (29, 14) 613.0680006405489 15.516939492112481
mean requires at least one data point gak buat
fisika B (26, 14) 588.9020588863905 13.807059718981497
ilmuadministrasinegara A (6, 14) 639.4067191275408 18.68728225145518
ilmudanteknologipangan A (3, 14) 678.7445994628938 17.925093338573394
ilmukeperawatan A (7, 14) 596.8065814029795 17.161354605070137
ilmukesehatanmasyarakat D (3, 14) 608.9312261726434 14.274435633234587
ilmukesejahteraansosial A (4, 14) 579.175184192375 13.902198667046482
ilmuperpustakaan A (7, 14) 600.9154831859141 16.97571885532058
ilmupolitik A (6, 14) 620.5864025786402 13.792453574802549
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia B (26, 14) 578.0593182558723 11.39231430073894
mean requires at least one data point gak buat
matematika B (22, 14) 608.9501586281968 18.60366940672874
mean requires at least one data point gak buat
sastraarab A (5, 14) 479.2947102498337 11.35408678360101
sastracina B (2, 14) 577.944816961562 12.58358755338621
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sastraindonesia D (9, 14) 537.2499234560347 12.389521621558226
sastrajepang B (4, 14) 542.6173076581447 11.86737157250676
sosiologi A (17, 14) 590.166588652376 13.848913479297513
teknikelektro A (9, 14) 673.4288883991647 19.327911663535467
tekniklingkungan B (7, 14) 618.5145797598626 10.214922813036019
teknikmesin A (11, 14) 650.8528032888681 16.532888721375308
agribisnis A (22, 14) 598.4765319752431 14.673688805779644
agroteknologi A (13, 14) 577.5491830794311 11.777313313157325
agroteknologi A (13, 14) 317.45560539331996 6.4735164333545026
akuntansi A (30, 14) 589.4555042892047 16.64178183336335
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi A (29, 14) 574.8545071941516 14.549744229971173
mean requires at least one data point gak buat
dokterhewan A (5, 14) 599.9874552889946 21.06239764441054
ekonomiislam B (4, 14) 548.8774170984829 14.45496000061843
ekonomipembangunan A (21, 14) 581.9112653690429 14.60638857460019
farmasi B (15, 14) 642.7402109243845 16.88769253292242
fisika A (18, 14) 509.71988887860346 12.278186000128759
ilmuhukum A (26, 14) 568.5591141596109 15.440974431171552
ilmukelautan A (12, 14) 478.15571112637696 13.638125411987316
ilmukeperawatan B (8, 14) 576.9707502071174 15.111700185266116
ilmukomunikasi B (24, 14) 556.4959945752219 14.044484900948996
ilmupemerintahan D (6, 14) 554.8130581148123 17.72678951098512
ilmupolitik B (13, 14) 532.4753591131232 11.726143001990195
ilmutanah B (7, 14) 537.1774385266302 11.286184945522926
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia A (23, 14) 531.26266160574 12.317822400736986
manajemen A (37, 14) 590.2542037577251 17.04054463434471
manajemen A (37, 14) 169.2701389707033 4.886801889810768
matematika A (20, 14) 536.3382570727033 14.787705967101624
mean requires at least one data point gak buat
pendidikanbahasadansastraindonesia B (20, 14) 529.2803674940257 13.823260768789012
pendidikanbahasainggris B (34, 14) 556.3985458550266 13.796215259339478
pendidikanbiologi A (16, 14) 579.1514077729125 14.991281153660442
pendidikanbiologi A (16, 14) 312.0517359637047 8.077430608878004
pendidikanekonomi B (18, 14) 506.0527591511106 5.231150276358328
pendidikanfisika A (15, 14) 533.9209539020173 12.45196768661565
pendidikangeografi B (14, 14) 513.1760123523094 9.57921589688507
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 505.19377593360997 13.070539419087137
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankesejahteraankeluarga A (5, 14) 529.3229226093057 12.94708128750682
pendidikankimia A (15, 14) 541.1989802781873 11.775985964467928
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
perencanaanwilayahdankota B (5, 14) 640.3655563872255 14.296627405566227
perlindungan/proteksitanaman/hamadanpenyakittanaman A (3, 14) 498.0840300281514 16.838518611197998
mean requires at least one data point gak buat
psikologi B (24, 14) 569.7359346792637 14.4356907029252
sosiologi B (19, 14) 535.047607174946 11.21977831329144
statistika B (10, 14) 638.5888103155411 17.92663388012853
teknikelektro A (9, 14) 608.625324176138 17.468001008733708
teknikgeofisika A (2, 14) 629.5676522799404 15.739191306998508
mean requires at least one data point gak buat
teknikindustri B (13, 14) 582.9018899201378 12.474934630612731
teknikkimia A (11, 14) 560.8055428751192 14.853353660637108
mean requires at least one data point gak buat
teknikmesin A (11, 14) 563.3280959873135 14.309596083046898
teknikpertambangan B (5, 14) 597.6636920739427 14.948462902000506
teknikpertanian A (6, 14) 572.5109143551603 13.546295496120512
tekniksipil A (16, 14) 620.6252421396415 17.142727392588128
mean requires at least one data point gak buat
mean requires at least one data point gak buat
agribisnis B (16, 14) 417.42776713786293 9.372561179510564
agroteknologi B (15, 14) 188.02875553331538 5.24822664459756
akuntansi A (30, 14) 564.9869819272127 15.95097513468969
antropologi A (4, 14) 321.7619052324749 7.064986913800078
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi B (20, 14) 357.5491051414339 8.410567514677105
mean requires at least one data point gak buat
ekonomipembangunan B (14, 14) 427.8884402092906 10.747706696175504
farmasi B (15, 14) 594.6327838021064 15.623692826691833
fisika B (26, 14) 112.24620523677693 2.631660113166992
ilmuhukum B (24, 14) 304.70475763386077 7.864710554348433
ilmukomunikasi B (24, 14) 514.3887083091266 12.981808526008484
ilmupemerintahan B (7, 14) 504.2846023659688 8.396906260256575
mean requires at least one data point gak buat
kesehatanmasyarakat B (9, 14) 489.5000902784031 10.151196474426717
kimia B (26, 14) 276.1362186960006 5.442054982685968
manajemen B (25, 14) 546.3494247614018 13.004725644119821
matematika B (22, 14) 313.08679056986637 9.564925905425014
nan D (365, 14) 507.7207265786557 14.010739074064597
nan D (365, 14) 575.6185000105579 15.884402955535002
nan D (365, 14) 197.59331464328707 5.452659758253458
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) nan nan
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) nan nan
nan D (365, 14) nan nan
mean requires at least one data point gak buat
pendidikanbahasainggris B (34, 14) 455.6465284681941 11.298012253532868
pendidikanbiologi B (23, 14) 508.0110575280046 11.649181697360927
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 446.2400107411386 8.329752953813106
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 448.6315476190477 11.60714285714286
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 285.0248737864078 5.228704576976422
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) 240.31048951048948 7.972027972027971
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sosiologi B (19, 14) 430.4112807717812 9.025587796377591
statistika B (10, 14) 436.8025544079147 12.262036766517149
teknikelektro B (29, 14) 458.83039101912914 11.143442708310744
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikmesin B (23, 14) 354.08197279242785 8.501581545936348
tekniksipil B (27, 14) 521.2664297819612 10.646126100980222
agribisnis B (16, 14) 506.54452290813566 11.373511550645135
agroteknologi B (15, 14) 379.6843429047603 10.597684802611022
akuntansi B (24, 14) 542.3688677681786 15.685374161842171
antropologisosial B (5, 14) 414.8821531225503 9.628429579304939

mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi A (29, 14) 514.8062305030392 13.029903894073545
ekonomiislam B (4, 14) 526.0950456498852 13.854974907863882
mean requires at least one data point gak buat
fisika B (26, 14) 162.75699759332656 3.8159071640921387
mean requires at least one data point gak buat
ilmuadministrasinegara B (8, 14) 567.8586863369762 13.233934727277925
mean requires at least one data point gak buat
ilmuhubunganinternasional B (7, 14) 574.3690733589375 13.184106596056504
ilmuhukum A (26, 14) 491.41098521586497 13.345779302352124
mean requires at least one data point gak buat
ilmukomunikasi B (24, 14) 585.5021782316962 14.776524147176566
ilmupemerintahan B (7, 14) 562.3994822345666 9.364584425112671
ilmupolitik B (13, 14) 481.8906326227902 10.612168944054135
mean requires at least one data point gak buat
ilmutanah B (7, 14) 370.9224824590712 7.793141404016781
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
kimia A (23, 14) 409.51126541974736 9.494902245332222
manajemen B (25, 14) 548.3266564211319 13.051789581783686
mean requires at least one data point gak buat
matematika B (22, 14) 444.45187752225775 13.578181530078863
nan D (365, 14) 526.5168105688557 14.529423883675374
nan D (365, 14) 411.10990006368877 11.344727995194006
pendidikanbahasadansastraindonesia B (20, 14) 519.572051742696 13.569707853362035
mean requires at least one data point gak buat
pendidikanbiologi B (23, 14) 581.7086722040092 13.339138817980382
pendidikanekonomi B (18, 14) 513.3584503923767 5.306670403587445
mean requires at least one data point gak buat
pendidikangeografi B (14, 14) 538.8944251851002 10.059289444986513
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 500.10426755447946 12.938861985472156
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikankimia B (18, 14) 505.1121463414634 9.266146341463415
mean requires at least one data point gak buat
pendidikanpancasiladankewarganegaraan B (16, 14) 497.005785123967 16.487603305785125
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikansosiologi B (3, 14) 505.99764932562636 13.106936416184974
perencanaanwilayahdankota B (5, 14) 623.1242559325793 13.911702816589045
mean requires at least one data point gak buat
sisteminformasi B (13, 14) 617.0640278978835 15.45698358565593
sistemkomputer B (3, 14) 528.491587245692 14.147272500085196
sosiologi B (19, 14) 473.14715262146154 9.921745449918626
statistika B (10, 14) 603.6484499036804 16.945778846928587
teknikelektro B (29, 14) 485.10070889058 11.781460127948971
teknikindustri B (13, 14) 527.2603217030342 11.284125442554949
mean requires at least one data point gak buat
mean requires at least one data point gak buat
tekniklingkungan B (7, 14) 544.7113738892685 8.996044429254955
mean requires at least one data point gak buat
mean requires at least one data point gak buat
tekniksipil A (16, 14) 606.0754684063199 16.740837833803393
administrasinegara B (12, 14) 438.5299063839848 13.247379811532324
mean requires at least one data point gak buat
mean requires at least one data point gak buat
akuntansi D (6, 14) 367.1997445933839 11.279323270347284
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 405.0212887562762 10.453972655868075
mean requires at least one data point gak buat
ilmukomunikasi B (24, 14) 401.1001832245386 10.122706222467626
mean requires at least one data point gak buat
manajemen C (5, 14) 423.4327916002673 11.056263815349817
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
sosiologi B (19, 14) 363.0680191544277 7.613420998304906
mean requires at least one data point gak buat
teknikindustri C (4, 14) 429.35636444051306 9.953710747456878
teknikmesin B (23, 14) 278.20726433690766 6.679814071807131
tekniksipil B (27, 14) 434.8991364808371 8.882196864507588
mean requires at least one data point gak buat
agroekoteknologi B (7, 14) 639.495907686769 17.579152367730092
nan D (365, 14) 620.8968637726593 17.133875957447415
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknikelektro B (29, 14) 603.514445588983 14.657330420334715
teknikmesin B (23, 14) 595.8740606946645 14.307059684943809
mean requires at least one data point gak buat
agroteknologi B (15, 14) 227.82754931815177 6.359083807758508
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmuadministrasinegara B (8, 14) 326.5265923315216 7.6096953583828055
mean requires at least one data point gak buat
mean requires at least one data point gak buat
manajemen B (25, 14) 482.2826196683887 11.479746966794792
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
pendidikanbiologi B (23, 14) 222.06916111238792 5.092259250746954
mean requires at least one data point gak buat
mean requires at least one data point gak buat
teknologiinformasi D (4, 14) 631.0278858763069 16.762186780081517
agribisnis A (22, 14) 589.7825506411782 14.460526267629188
agroekoteknologi A (7, 14) 593.6170787234807 13.449982840937647
akuntansi B (24, 14) 566.4001732913229 16.380362464321905
ekonomipembangunan B (14, 14) 538.0942899850813 13.515858481284793
ekonomisyariah B (5, 14) 525.3147983656066 12.80422810445905
mean requires at least one data point gak buat
ilmuhukum B (24, 14) 531.481173159315 13.718018794462857
ilmukelautan A (12, 14) 572.9278290221396 16.34124910024636
ilmukomunikasi B (24, 14) 538.5409748952225 13.591347762047434
manajemen A (37, 14) 580.742699860526 16.765949035248408
mean requires at least one data point gak buat
nan D (365, 14) 571.5837554585853 15.773062704509353
nan D (365, 14) 579.452316038044 15.990198510467412
pendidikanbahasadansastraindonesia B (20, 14) 541.3598371540015 14.138741314287246
pendidikangurupendidikananakusiadini(paud)(paud) D (29, 14) 464.04515810276683 12.005928853754941
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
psikologi B (24, 14) 536.7862224616971 13.600826996125738
sastrainggris B (13, 14) 494.67849115835253 13.61980514426915
sosiologi B (19, 14) 548.0664182273898 11.492778644387748
mean requires at least one data point gak buat
teknikindustri B (13, 14) 584.8121363267678 12.515816637453261
teknikinformatika B (23, 14) 586.8737103338177 14.847232845090584
mean requires at least one data point gak buat
teknologiindustripertanian B (7, 14) 551.216291913215 11.172702169625246
agribisnis A (22, 14) 568.3012446487603 13.93383895002605
agroekoteknologi A (7, 14) 617.3834773635631 13.98847417711582
mean requires at least one data point gak buat
mean requires at least one data point gak buat
mean requires at least one data point gak buat
biologi A (29, 14) 570.6736976208406 14.443926654907184
ekonomipembangunan A (21, 14) 574.1862416169467 14.412484958385486
fisika B (26, 14) 561.2310261838848 13.158300565834962
mean requires at least one data point gak buat
mean requires at least one data point gak buat
ilmukeperawatan B (8, 14) 568.2627270864 14.883624438689003
ilmukesehatanmasyarakat B (6, 14) 588.8836505149318 16.855065504350435
ilmupolitik B (13, 14) 586.3166662419897 12.911833299206432
ilmusejarah A (10, 14) 572.7793368359279 13.898523069620044
mean requires at least one data point gak buat
kimia B (26, 14) 570.1359089348888 11.23616082917066
mean requires at least one data point gak buat
matematika B (22, 14) 545.894916891049 16.677306706894896
nan D (365, 14) 668.0535876034943 18.43518299219026
nan D (365, 14) 668.0535876034943 18.43518299219026
mean requires at least one data point gak buat
mean requires at least one data point gak buat
sastraindonesia D (9, 14) 520.6797350378358 12.00739647138616
mean requires at least one data point gak buat
sastrajepang A (6, 14) 607.0704245670662 16.044895648200814
sosiologi B (19, 14) 581.0059076575533 12.183509271351566
teknikelektro A (9, 14) 627.021367809131 17.995981189599195
teknikmesin A (11, 14) 609.1952280081699 15.47470774245368
teknikpertanian A (6, 14) 576.5873370048411 13.642748549494788
teknologiindustripertanian B (7, 14) 549.7496410256409 11.142974358974358
teknologiinformasi B (3, 14) 642.4245080375865 16.806329113924054

In [3]:
len(merged.loc[merged.rataan_baru.notnull()])

2317

In [4]:
# merged.to_csv('../data/univ_sbm_with_rerata.csv',index=False)

In [5]:
# merged['facultydepartmentid'] = merged['facultydepartmentid'].astype(pd.Int64Dtype())
merged['universityId'] = merged['universityId'].astype(pd.Int64Dtype())
# merged.facultydepartmentid.fillna(0, inplace=True)

server,koneksi = Connection_2()

for i,j in merged.iterrows():
    status = to_db(koneksi,'rasionalisasi_kampus',
                   ['jurusanId','jenis','tahun_lalu_rerata','tahun_lalu_sbaku','tahun_lalu_kuota','tahun_lalu_peminat'],
                   [j.facultydepartmentid, j.Jenis, j.rataan_baru, j.s_baku_baru, j['DT 2020'], j['P 2019']])
    
    print(i,status)
    
koneksi.commit()
koneksi.close()
server.stop()

1169 berhasil
1170 berhasil
1207 berhasil
1171 berhasil
1172 berhasil
1173 berhasil
1205 berhasil
1177 berhasil
1191 berhasil
1174 berhasil
1194 berhasil
1203 berhasil
1175 berhasil
1193 berhasil
1204 berhasil
1176 berhasil
1178 berhasil
1180 berhasil
1192 berhasil
1181 berhasil
1195 berhasil
1197 berhasil
1202 berhasil
1201 berhasil
1187 berhasil
1196 berhasil
1179 berhasil
1200 berhasil
1182 berhasil
1183 berhasil
1189 berhasil
1190 berhasil
1199 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1184 gagal
1198 berhasil
1206 berhasil
1185 berhasil
1186 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1188 gagal
(1054, "Unknown column 'nan' in 'field list'")
1152 gagal
(1054, "Unknown column 'nan' in 'field list'")
1149 gagal
(1054, "Unknown column 'nan' in 'field list'")
1151 gagal
(1054, "Unknown column 'nan' in 'field list'")
1148 gagal
(1054, "Unknown column 'nan' in 'field list'")
1150 gagal
(1054, "Unknown column 'nan' in 'field list'")
145 gagal
(1054, "Unknown column 'nan' in 'field list'")
144 gagal
(1054, "Unknown column 'nan' in 'field list'")
140 gagal
(1054, "Unknown column 'nan' in 'field list'")
143 gagal
(1054, "Unknown column 'nan' in 'field list'")
141 gagal
(1054, "Unknown column 'nan' in 'field list'")
142 gagal
2449 berhasil
2450 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2452 gagal
2448 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2446 gagal
(1054, "Unknown column 'nan' in 'field list'")
2445 gagal
(1054, "Unknown column 'nan' in 'field list'")
2451 gagal
(1054, "Unknown column 'nan' in 'field list'")
2447 gagal
(1054, "Unknown column 'nan' in 'field list'")
2453 gagal
(1054, "Unknown column 'nan' in 'field list'")
2444 gagal
1358 berhasil
1359 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1361 gagal
(1054, "Unknown column 'nan' in 'field list'")
1356 gagal
(1054, "Unknown column 'nan' in 'field list'")
1354 gagal
(1054, "Unknown column 'nan' in 'field list'")
1362 gagal
(1054, "Unknown column 'nan' in 'field list'")
1363 gagal
(1054, "Unknown column 'nan' in 'field list'")
1357 gagal
(1054, "Unknown column 'nan' in 'field list'")
1353 gagal
(1054, "Unknown column 'nan' in 'field list'")
1355 gagal
1360 berhasil
1654 berhasil
1655 berhasil
1656 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1660 gagal
1648 berhasil
1651 berhasil
1658 berhasil
1649 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1659 gagal
(1054, "Unknown column 'nan' in 'field list'")
1653 gagal
1652 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1647 gagal
(1054, "Unknown column 'nan' in 'field list'")
1661 gagal
(1054, "Unknown column 'nan' in 'field list'")
1646 gagal
(1054, "Unknown column 'nan' in 'field list'")
1662 gagal
(1054, "Unknown column 'nan' in 'field list'")
1650 gagal
1657 berhasil
980 berhasil
982 berhasil
997 berhasil
988 berhasil
981 berhasil
983 berhasil
987 berhasil
985 berhasil
990 berhasil
991 berhasil
992 berhasil
993 berhasil
994 berhasil
995 berhasil
996 berhasil
999 berhasil
989 berhasil
998 berhasil
984 berhasil
986 berhasil
1963 berhasil
1947 berhasil
1939 berhasil
1961 berhasil
1965 berhasil
1956 berhasil
1935 berhasil
1954 berhasil
1938 berhasil
1966 berhasil
1936 berhasil
1958 berhasil
1950 berhasil
1955 berhasil
1937 berhasil
1967 berhasil
1962 berhasil
1941 berhasil
1943 berhasil
1960 berhasil
1949 berhasil
1944 berhasil
1952 berhasil
1942 berhasil
1959 berhasil
1948 berhasil
1945 berhasil
1940 berhasil
1951 berhasil
1946 berhasil
1953 berhasil
1957 berhasil
1964 berhasil
(1054, "Unknown column 'nan' in 'field list'")
729 gagal
(1054, "Unknown column 'nan' in 'field list'")
731 gagal
723 berhasil
733 berhasil
(1054, "Unknown column 'nan' in 'field list'")
727 gagal
736 berhasil
743 berhasil
744 berhasil
745 berhasil
746 berhasil
747 berhasil
748 berhasil
749 berhasil
719 berhasil
(1054, "Unknown column 'nan' in 'field list'")
739 gagal
(1054, "Unknown column 'nan' in 'field list'")
724 gagal
718 berhasil
(1054, "Unknown column 'nan' in 'field list'")
734 gagal
720 berhasil
(1054, "Unknown column 'nan' in 'field list'")
726 gagal
(1054, "Unknown column 'nan' in 'field list'")
717 gagal
730 berhasil
(1054, "Unknown column 'nan' in 'field list'")
722 gagal
(1054, "Unknown column 'nan' in 'field list'")
735 gagal
732 berhasil
(1054, "Unknown column 'nan' in 'field list'")
725 gagal
(1054, "Unknown column 'nan' in 'field list'")
741 gagal
(1054, "Unknown column 'nan' in 'field list'")
728 gagal
(1054, "Unknown column 'nan' in 'field list'")
742 gagal
(1054, "Unknown column 'nan' in 'field list'")
737 gagal
721 berhasil
738 berhasil
(1054, "Unknown column 'nan' in 'field list'")
740 gagal
3196 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3198 gagal
(1054, "Unknown column 'nan' in 'field list'")
3199 gagal
(1054, "Unknown column 'nan' in 'field list'")
3197 gagal
(1054, "Unknown column 'nan' in 'field list'")
3200 gagal
2326 berhasil
2327 berhasil
2328 berhasil
2329 berhasil
2330 berhasil
2331 berhasil
2332 berhasil
2333 berhasil
2334 berhasil
2335 berhasil
2336 berhasil
2337 berhasil
2338 berhasil
2339 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3280 gagal
3283 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3282 gagal
(1054, "Unknown column 'nan' in 'field list'")
3281 gagal
3231 berhasil
3232 berhasil
3233 berhasil
3234 berhasil
3235 berhasil
3236 berhasil
3237 berhasil
3238 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3247 gagal
3240 berhasil
3241 berhasil
3242 berhasil
3243 berhasil
3244 berhasil
3245 berhasil
3246 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3248 gagal
(1054, "Unknown column 'nan' in 'field list'")
3239 gagal
(1054, "Unknown column 'nan' in 'field list'")
3274 gagal
3269 berhasil
3257 berhasil
3258 berhasil
3259 berhasil
3260 berhasil
3261 berhasil
3262 berhasil
3263 berhasil
3265 berhasil
3266 berhasil
3268 berhasil
3270 berhasil
3271 berhasil
3272 berhasil
3273 berhasil
3275 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3267 gagal
(1054, "Unknown column 'nan' in 'field list'")
3264 gagal
(1054, "Unknown column 'nan' in 'field list'")
3284 gagal
3285 berhasil
3286 berhasil
3287 berhasil
3288 berhasil
3291 berhasil
3292 berhasil
3293 berhasil
3294 berhasil
3295 berhasil
3296 berhasil
3289 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3290 gagal
(1054, "Unknown column 'nan' in 'field list'")
3278 gagal
(1054, "Unknown column 'nan' in 'field list'")
3276 gagal
3277 berhasil
3279 berhasil
3256 berhasil
3250 berhasil
3251 berhasil
3252 berhasil
3253 berhasil
3254 berhasil
3255 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3249 gagal
(1054, "Unknown column 'nan' in 'field list'")
3297 gagal
3298 berhasil
3299 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3018 gagal
(1054, "Unknown column 'nan' in 'field list'")
3002 gagal
(1054, "Unknown column 'nan' in 'field list'")
3003 gagal
(1054, "Unknown column 'nan' in 'field list'")
3022 gagal
3026 berhasil
3011 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3017 gagal
(1054, "Unknown column 'nan' in 'field list'")
3010 gagal
(1054, "Unknown column 'nan' in 'field list'")
3009 gagal
(1054, "Unknown column 'nan' in 'field list'")
3024 gagal
(1054, "Unknown column 'nan' in 'field list'")
3012 gagal
3013 berhasil
3014 berhasil
3015 berhasil
3016 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3019 gagal
(1054, "Unknown column 'nan' in 'field list'")
3020 gagal
(1054, "Unknown column 'nan' in 'field list'")
3006 gagal
(1054, "Unknown column 'nan' in 'field list'")
3021 gagal
(1054, "Unknown column 'nan' in 'field list'")
3025 gagal
(1054, "Unknown column 'nan' in 'field list'")
3007 gagal
(1054, "Unknown column 'nan' in 'field list'")
2998 gagal
(1054, "Unknown column 'nan' in 'field list'")
3023 gagal
(1054, "Unknown column 'nan' in 'field list'")
3005 gagal
(1054, "Unknown column 'nan' in 'field list'")
3004 gagal
(1054, "Unknown column 'nan' in 'field list'")
2999 gagal
(1054, "Unknown column 'nan' in 'field list'")
3001 gagal
(1054, "Unknown column 'nan' in 'field list'")
3000 gagal
(1054, "Unknown column 'nan' in 'field list'")
3008 gagal
1926 berhasil
1923 berhasil
1931 berhasil
1930 berhasil
1896 berhasil
1894 berhasil
1933 berhasil
1924 berhasil

1893 berhasil
1897 berhasil
1918 berhasil
1907 berhasil
1922 berhasil
1917 berhasil
1927 berhasil
1929 berhasil
1921 berhasil
1928 berhasil
1902 berhasil
1891 berhasil
1900 berhasil
1899 berhasil
1898 berhasil
1925 berhasil
1895 berhasil
1901 berhasil
1908 berhasil
1909 berhasil
1910 berhasil
1912 berhasil
1913 berhasil
1914 berhasil
1915 berhasil
1916 berhasil
1932 berhasil
1934 berhasil
1892 berhasil
1919 berhasil
1905 berhasil
1920 berhasil
1906 berhasil
1903 berhasil
1904 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1911 gagal
363 berhasil
399 berhasil
397 berhasil
370 berhasil
393 berhasil
380 berhasil
372 berhasil
401 berhasil
389 berhasil
406 berhasil
394 berhasil
366 berhasil
367 berhasil
407 berhasil
400 berhasil
395 berhasil
385 berhasil
369 berhasil
398 berhasil
371 berhasil
364 berhasil
386 berhasil
387 berhasil
388 berhasil
404 berhasil
408 berhasil
409 berhasil
365 berhasil
368 berhasil
(1054, "Unknown column 'nan' in 'field list'")
391 gagal
(1054, "Unknown column 'nan' in 'field list'")
390 gagal
(1054, "Unknown column 'nan' in 'field list'")
374 gagal
384 berhasil
402 berhasil
403 berhasil
405 berhasil
383 berhasil
373 berhasil
396 berhasil
379 berhasil
377 berhasil
378 berhasil
375 berhasil
376 berhasil
(1054, "Unknown column 'nan' in 'field list'")
382 gagal
381 berhasil
392 berhasil
645 berhasil
642 berhasil
651 berhasil
644 berhasil
(1054, "Unknown column 'nan' in 'field list'")
646 gagal
(1054, "Unknown column 'nan' in 'field list'")
657 gagal
(1054, "Unknown column 'nan' in 'field list'")
649 gagal
653 berhasil
(1054, "Unknown column 'nan' in 'field list'")
647 gagal
656 berhasil
(1054, "Unknown column 'nan' in 'field list'")
648 gagal
652 berhasil
(1054, "Unknown column 'nan' in 'field list'")
643 gagal
(1054, "Unknown column 'nan' in 'field list'")
650 gagal
(1054, "Unknown column 'nan' in 'field list'")
655 gagal
654 berhasil
639 berhasil
638 berhasil
(1054, "Unknown column 'nan' in 'field list'")
640 gagal
641 berhasil
560 berhasil
532 berhasil
529 berhasil
563 berhasil
(1054, "Unknown column 'nan' in 'field list'")
550 gagal
(1054, "Unknown column 'nan' in 'field list'")
570 gagal
540 berhasil
558 berhasil
553 berhasil
539 berhasil
556 berhasil
(1054, "Unknown column 'nan' in 'field list'")
546 gagal
557 berhasil
562 berhasil
(1054, "Unknown column 'nan' in 'field list'")
571 gagal
548 berhasil
(1054, "Unknown column 'nan' in 'field list'")
572 gagal
547 berhasil
(1054, "Unknown column 'nan' in 'field list'")
530 gagal
541 berhasil
559 berhasil
538 berhasil
552 berhasil
554 berhasil
565 berhasil
566 berhasil
535 berhasil
(1054, "Unknown column 'nan' in 'field list'")
534 gagal
568 berhasil
567 berhasil
555 berhasil
(1054, "Unknown column 'nan' in 'field list'")
569 gagal
536 berhasil
(1054, "Unknown column 'nan' in 'field list'")
564 gagal
(1054, "Unknown column 'nan' in 'field list'")
537 gagal
(1054, "Unknown column 'nan' in 'field list'")
531 gagal
551 berhasil
561 berhasil
549 berhasil
545 berhasil
542 berhasil
544 berhasil
543 berhasil
533 berhasil
2342 berhasil
2343 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2351 gagal
(1054, "Unknown column 'nan' in 'field list'")
2347 gagal
2354 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2356 gagal
2350 berhasil
2355 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2346 gagal
2348 berhasil
2357 berhasil
2358 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2352 gagal
2353 berhasil
2345 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2344 gagal
2340 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2349 gagal
2341 berhasil
1793 berhasil
1813 berhasil
1805 berhasil
1792 berhasil
1766 berhasil
1784 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1756 gagal
1765 berhasil
1783 berhasil
1795 berhasil
1816 berhasil
1746 berhasil
1750 berhasil
1778 berhasil
1742 berhasil
1786 berhasil
1768 berhasil
1807 berhasil
1791 berhasil
1772 berhasil
1751 berhasil
1799 berhasil
1749 berhasil
1806 berhasil
1762 berhasil
1790 berhasil
1770 berhasil
1761 berhasil
1797 berhasil
1804 berhasil
1808 berhasil
1803 berhasil
1776 berhasil
1771 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1757 gagal
1817 berhasil
1752 berhasil
1794 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1741 gagal
1753 berhasil
1788 berhasil
1789 berhasil
1809 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1754 gagal
1812 berhasil
1810 berhasil
1811 berhasil
1748 berhasil
1769 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1781 gagal
1759 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1767 gagal
(1054, "Unknown column 'nan' in 'field list'")
1785 gagal
1798 berhasil
1815 berhasil
1800 berhasil
1801 berhasil
1802 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1814 gagal
1774 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1787 gagal
1796 berhasil
1758 berhasil
1745 berhasil
1777 berhasil
1763 berhasil
1764 berhasil
1775 berhasil
1773 berhasil
1780 berhasil
1744 berhasil
1747 berhasil
1743 berhasil
1779 berhasil
1755 berhasil
1760 berhasil
1782 berhasil
3151 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3157 gagal
(1054, "Unknown column 'nan' in 'field list'")
3152 gagal
(1054, "Unknown column 'nan' in 'field list'")
3159 gagal
3128 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3150 gagal
(1054, "Unknown column 'nan' in 'field list'")
3143 gagal
(1054, "Unknown column 'nan' in 'field list'")
3130 gagal
3164 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3153 gagal
(1054, "Unknown column 'nan' in 'field list'")
3142 gagal
(1054, "Unknown column 'nan' in 'field list'")
3147 gagal
3139 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3158 gagal
3131 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3129 gagal
3154 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3127 gagal
(1054, "Unknown column 'nan' in 'field list'")
3148 gagal
3149 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3155 gagal
3165 berhasil
3166 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3167 gagal
(1054, "Unknown column 'nan' in 'field list'")
3168 gagal
3169 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3170 gagal
(1054, "Unknown column 'nan' in 'field list'")
3162 gagal
3163 berhasil
3133 berhasil
3138 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3135 gagal
(1054, "Unknown column 'nan' in 'field list'")
3160 gagal
(1054, "Unknown column 'nan' in 'field list'")
3134 gagal
(1054, "Unknown column 'nan' in 'field list'")
3132 gagal
(1054, "Unknown column 'nan' in 'field list'")
3156 gagal
(1054, "Unknown column 'nan' in 'field list'")
3161 gagal
3146 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3144 gagal
(1054, "Unknown column 'nan' in 'field list'")
3137 gagal
(1054, "Unknown column 'nan' in 'field list'")
3145 gagal
(1054, "Unknown column 'nan' in 'field list'")
3140 gagal
(1054, "Unknown column 'nan' in 'field list'")
3141 gagal
3136 berhasil
1408 berhasil
1407 berhasil
1395 berhasil
1394 berhasil
1406 berhasil
1414 berhasil
1381 berhasil
1369 berhasil
1398 berhasil
1375 berhasil
1415 berhasil
1397 berhasil
1371 berhasil
1405 berhasil
1367 berhasil
1413 berhasil
1403 berhasil
1377 berhasil
1410 berhasil
1409 berhasil
1402 berhasil
1366 berhasil
1364 berhasil
1370 berhasil
1404 berhasil
1374 berhasil
1368 berhasil
1373 berhasil
1376 berhasil
1391 berhasil
1378 berhasil
1365 berhasil
1396 berhasil
1385 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1392 gagal
1411 berhasil
1399 berhasil
1400 berhasil
1412 berhasil
1401 berhasil
1372 berhasil
1384 berhasil
1390 berhasil
1389 berhasil
1386 berhasil
1383 berhasil
1387 berhasil
1382 berhasil
1388 berhasil
1380 berhasil
1379 berhasil
1393 berhasil
1513 berhasil
1540 berhasil
1544 berhasil
1547 berhasil
1548 berhasil
1523 berhasil
1556 berhasil
1551 berhasil
1496 berhasil
1518 berhasil
1505 berhasil
1512 berhasil
1497 berhasil
1545 berhasil
1506 berhasil
1511 berhasil
1498 berhasil
1503 berhasil
1542 berhasil
1558 berhasil
1546 berhasil
1502 berhasil
1509 berhasil
1561 berhasil
1522 berhasil
1549 berhasil
1514 berhasil
1499 berhasil
1501 berhasil
1538 berhasil
1507 berhasil

1543 berhasil
1557 berhasil
1520 berhasil
1508 berhasil
1521 berhasil
1515 berhasil
1537 berhasil
1541 berhasil
1564 berhasil
1560 berhasil
1500 berhasil
1504 berhasil
1517 berhasil
1524 berhasil
1516 berhasil
1559 berhasil
1563 berhasil
1550 berhasil
1552 berhasil
1553 berhasil
1555 berhasil
1554 berhasil
1562 berhasil
1510 berhasil
1528 berhasil
1532 berhasil
1525 berhasil
1526 berhasil
1533 berhasil
1527 berhasil
1529 berhasil
1531 berhasil
1534 berhasil
1530 berhasil
1519 berhasil
1536 berhasil
1539 berhasil
1535 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2931 gagal
2917 berhasil
2871 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2894 gagal
2872 berhasil
2916 berhasil
2919 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2932 gagal
2879 berhasil
2905 berhasil
2875 berhasil
2893 berhasil
2877 berhasil
2921 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2933 gagal
(1054, "Unknown column 'nan' in 'field list'")
2910 gagal
2920 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2898 gagal
2945 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2934 gagal
2902 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2935 gagal
(1054, "Unknown column 'nan' in 'field list'")
2891 gagal
2878 berhasil
2915 berhasil
2874 berhasil
2876 berhasil
2880 berhasil
2896 berhasil
2897 berhasil
2901 berhasil
2906 berhasil
2907 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2908 gagal
2911 berhasil
2912 berhasil
2913 berhasil
2914 berhasil
2929 berhasil
2930 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2939 gagal
2940 berhasil
2941 berhasil
2942 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2943 gagal
2944 berhasil
2926 berhasil
2927 berhasil
2882 berhasil
2890 berhasil
2923 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2883 gagal
2936 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2928 gagal
(1054, "Unknown column 'nan' in 'field list'")
2925 gagal
2884 berhasil
2881 berhasil
2924 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2922 gagal
(1054, "Unknown column 'nan' in 'field list'")
2904 gagal
(1054, "Unknown column 'nan' in 'field list'")
2903 gagal
(1054, "Unknown column 'nan' in 'field list'")
2873 gagal
(1054, "Unknown column 'nan' in 'field list'")
2937 gagal
(1054, "Unknown column 'nan' in 'field list'")
2938 gagal
2918 berhasil
2909 berhasil
2886 berhasil
2888 berhasil
2895 berhasil
2889 berhasil
2887 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2899 gagal
2885 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2900 gagal
2892 berhasil
2563 berhasil
2561 berhasil
2602 berhasil
2598 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2611 gagal
2559 berhasil
2591 berhasil
2557 berhasil
2555 berhasil
2589 berhasil
2573 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2605 gagal
2562 berhasil
2613 berhasil
2575 berhasil
2604 berhasil
2596 berhasil
2576 berhasil
2593 berhasil
2600 berhasil
2603 berhasil
2597 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2599 gagal
2560 berhasil
2572 berhasil
2581 berhasil
2556 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2564 gagal
2558 berhasil
2595 berhasil
2554 berhasil
2577 berhasil
2578 berhasil
2580 berhasil
2594 berhasil
2607 berhasil
2614 berhasil
2615 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2579 gagal
2570 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2582 gagal
2592 berhasil
2608 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2606 gagal
2609 berhasil
2612 berhasil
2610 berhasil
2601 berhasil
2574 berhasil
2571 berhasil
2567 berhasil
2569 berhasil
2584 berhasil
2588 berhasil
2583 berhasil
2590 berhasil
2566 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2586 gagal
2568 berhasil
2587 berhasil
2565 berhasil
2585 berhasil
827 berhasil
833 berhasil
819 berhasil
836 berhasil
831 berhasil
822 berhasil
801 berhasil
811 berhasil
850 berhasil
794 berhasil
852 berhasil
795 berhasil
839 berhasil
792 berhasil
816 berhasil
796 berhasil
817 berhasil
832 berhasil
851 berhasil
813 berhasil
837 berhasil
821 berhasil
804 berhasil
825 berhasil
838 berhasil
826 berhasil
823 berhasil
803 berhasil
815 berhasil
814 berhasil
805 berhasil
830 berhasil
793 berhasil
828 berhasil
835 berhasil
791 berhasil
834 berhasil
789 berhasil
790 berhasil
824 berhasil
844 berhasil
848 berhasil
843 berhasil
841 berhasil
840 berhasil
846 berhasil
842 berhasil
847 berhasil
845 berhasil
849 berhasil
810 berhasil
829 berhasil
818 berhasil
820 berhasil
812 berhasil
799 berhasil
806 berhasil
802 berhasil
809 berhasil
808 berhasil
800 berhasil
798 berhasil
807 berhasil
797 berhasil
2699 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2692 gagal
(1054, "Unknown column 'nan' in 'field list'")
2700 gagal
(1054, "Unknown column 'nan' in 'field list'")
2696 gagal
2702 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2693 gagal
(1054, "Unknown column 'nan' in 'field list'")
2697 gagal
2690 berhasil
2698 berhasil
2689 berhasil
2691 berhasil
2694 berhasil
2701 berhasil
2703 berhasil
2704 berhasil
2695 berhasil
(1054, "Unknown column 'nan' in 'field list'")
148 gagal
(1054, "Unknown column 'nan' in 'field list'")
150 gagal
(1054, "Unknown column 'nan' in 'field list'")
160 gagal
155 berhasil
(1054, "Unknown column 'nan' in 'field list'")
151 gagal
153 berhasil
156 berhasil
157 berhasil
158 berhasil
159 berhasil
161 berhasil
(1054, "Unknown column 'nan' in 'field list'")
162 gagal
(1054, "Unknown column 'nan' in 'field list'")
154 gagal
(1054, "Unknown column 'nan' in 'field list'")
146 gagal
(1054, "Unknown column 'nan' in 'field list'")
147 gagal
(1054, "Unknown column 'nan' in 'field list'")
149 gagal
152 berhasil
1889 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1882 gagal
1878 berhasil
1883 berhasil
1880 berhasil
1879 berhasil
1888 berhasil
1877 berhasil
1884 berhasil
1885 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1890 gagal
1887 berhasil
1886 berhasil
1881 berhasil
(1054, "Unknown column 'nan' in 'field list'")
632 gagal
637 berhasil
(1054, "Unknown column 'nan' in 'field list'")
636 gagal
635 berhasil
(1054, "Unknown column 'nan' in 'field list'")
631 gagal
630 berhasil
(1054, "Unknown column 'nan' in 'field list'")
633 gagal
(1054, "Unknown column 'nan' in 'field list'")
634 gagal
(1054, "Unknown column 'nan' in 'field list'")
629 gagal
2090 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2078 gagal
(1054, "Unknown column 'nan' in 'field list'")
2081 gagal
(1054, "Unknown column 'nan' in 'field list'")
2095 gagal
2089 berhasil
2093 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2080 gagal
2086 berhasil
2092 berhasil
2091 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2082 gagal
2084 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2083 gagal
(1054, "Unknown column 'nan' in 'field list'")
2076 gagal
2087 berhasil
2094 berhasil
2088 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2079 gagal
2085 berhasil
2077 berhasil
1666 berhasil
1664 berhasil
1678 berhasil
1679 berhasil
1676 berhasil
1673 berhasil
1665 berhasil
1663 berhasil
1672 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1670 gagal
1671 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1669 gagal
1674 berhasil
1677 berhasil
1675 berhasil
1668 berhasil
1667 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1489 gagal
(1054, "Unknown column 'nan' in 'field list'")
1488 gagal
1485 berhasil
1494 berhasil
1493 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1487 gagal
(1054, "Unknown column 'nan' in 'field list'")
1495 gagal
(1054, "Unknown column 'nan' in 'field list'")
1486 gagal
1491 berhasil
1492 berhasil
1490 berhasil
332 berhasil
334 berhasil
335 berhasil
333 berhasil
(1054, "Unknown column 'nan' in 'field list'")
338 gagal
340 berhasil
336 berhasil
(1054, "Unknown column 'nan' in 'field list'")
325 gagal
(1054, "Unknown column 'nan' in 'field list'")
341 gagal
339 berhasil
(1054, "Unknown column 'nan' in 'field list'")
342 gagal
331 berhasil
(1054, "Unknown column 'nan' in 'field list'")
330 gagal
(1054, "Unknown column 'nan' in 'field list'")
324 gagal
337 berhasil
326 berhasil
327 berhasil
328 berhasil
329 berhasil
(1054, "Unknown column 'nan' in 'field list'")
264 gagal
(1054, "Unknown column 'nan' in 'field list'")
265 gagal
(1054, "Unknown column 'nan' in 'field list'")
270 gagal

266 berhasil
261 berhasil
268 berhasil
267 berhasil
(1054, "Unknown column 'nan' in 'field list'")
269 gagal
(1054, "Unknown column 'nan' in 'field list'")
263 gagal
262 berhasil
1163 berhasil
1159 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1166 gagal
1154 berhasil
1155 berhasil
1161 berhasil
1168 berhasil
1156 berhasil
1162 berhasil
1153 berhasil
1164 berhasil
1165 berhasil
1167 berhasil
1160 berhasil
1158 berhasil
1157 berhasil
853 berhasil
867 berhasil
857 berhasil
868 berhasil
861 berhasil
859 berhasil
869 berhasil
870 berhasil
862 berhasil
871 berhasil
874 berhasil
860 berhasil
875 berhasil
858 berhasil
873 berhasil
856 berhasil
872 berhasil
863 berhasil
865 berhasil
(1054, "Unknown column 'nan' in 'field list'")
864 gagal
876 berhasil
878 berhasil
855 berhasil
877 berhasil
854 berhasil
(1054, "Unknown column 'nan' in 'field list'")
866 gagal
526 berhasil
482 berhasil
481 berhasil
513 berhasil
(1054, "Unknown column 'nan' in 'field list'")
523 gagal
495 berhasil
(1054, "Unknown column 'nan' in 'field list'")
490 gagal
(1054, "Unknown column 'nan' in 'field list'")
496 gagal
511 berhasil
(1054, "Unknown column 'nan' in 'field list'")
522 gagal
510 berhasil
(1054, "Unknown column 'nan' in 'field list'")
521 gagal
527 berhasil
(1054, "Unknown column 'nan' in 'field list'")
525 gagal
487 berhasil
(1054, "Unknown column 'nan' in 'field list'")
485 gagal
489 berhasil
(1054, "Unknown column 'nan' in 'field list'")
498 gagal
488 berhasil
512 berhasil
(1054, "Unknown column 'nan' in 'field list'")
497 gagal
(1054, "Unknown column 'nan' in 'field list'")
500 gagal
515 berhasil
(1054, "Unknown column 'nan' in 'field list'")
491 gagal
517 berhasil
508 berhasil
509 berhasil
480 berhasil
507 berhasil
(1054, "Unknown column 'nan' in 'field list'")
479 gagal
516 berhasil
514 berhasil
477 berhasil
(1054, "Unknown column 'nan' in 'field list'")
478 gagal
(1054, "Unknown column 'nan' in 'field list'")
484 gagal
(1054, "Unknown column 'nan' in 'field list'")
524 gagal
(1054, "Unknown column 'nan' in 'field list'")
518 gagal
(1054, "Unknown column 'nan' in 'field list'")
486 gagal
520 berhasil
(1054, "Unknown column 'nan' in 'field list'")
519 gagal
(1054, "Unknown column 'nan' in 'field list'")
528 gagal
492 berhasil
(1054, "Unknown column 'nan' in 'field list'")
501 gagal
(1054, "Unknown column 'nan' in 'field list'")
502 gagal
(1054, "Unknown column 'nan' in 'field list'")
494 gagal
(1054, "Unknown column 'nan' in 'field list'")
503 gagal
(1054, "Unknown column 'nan' in 'field list'")
499 gagal
(1054, "Unknown column 'nan' in 'field list'")
493 gagal
(1054, "Unknown column 'nan' in 'field list'")
505 gagal
(1054, "Unknown column 'nan' in 'field list'")
504 gagal
(1054, "Unknown column 'nan' in 'field list'")
483 gagal
(1054, "Unknown column 'nan' in 'field list'")
506 gagal
1681 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1707 gagal
1680 berhasil
1725 berhasil
1691 berhasil
1723 berhasil
1737 berhasil
1739 berhasil
1697 berhasil
1689 berhasil
1720 berhasil
1719 berhasil
1714 berhasil
1718 berhasil
1717 berhasil
1698 berhasil
1693 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1721 gagal
(1054, "Unknown column 'nan' in 'field list'")
1734 gagal
(1054, "Unknown column 'nan' in 'field list'")
1709 gagal
1690 berhasil
1724 berhasil
1688 berhasil
1701 berhasil
1702 berhasil
1708 berhasil
1710 berhasil
1713 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1730 gagal
1729 berhasil
1684 berhasil
1692 berhasil
1687 berhasil
1727 berhasil
1683 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1738 gagal
1736 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1731 gagal
(1054, "Unknown column 'nan' in 'field list'")
1740 gagal
1704 berhasil
1726 berhasil
1682 berhasil
1728 berhasil
1705 berhasil
1733 berhasil
1732 berhasil
1699 berhasil
1722 berhasil
1695 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1706 gagal
(1054, "Unknown column 'nan' in 'field list'")
1711 gagal
1694 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1712 gagal
(1054, "Unknown column 'nan' in 'field list'")
1716 gagal
(1054, "Unknown column 'nan' in 'field list'")
1715 gagal
(1054, "Unknown column 'nan' in 'field list'")
1686 gagal
1696 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1685 gagal
(1054, "Unknown column 'nan' in 'field list'")
1700 gagal
1703 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1735 gagal
1256 berhasil
1246 berhasil
1245 berhasil
1259 berhasil
1262 berhasil
1263 berhasil
1230 berhasil
1235 berhasil
1258 berhasil
1242 berhasil
1233 berhasil
1251 berhasil
1264 berhasil
1254 berhasil
1244 berhasil
1241 berhasil
1260 berhasil
1261 berhasil
1240 berhasil
1231 berhasil
1257 berhasil
1234 berhasil
1232 berhasil
1267 berhasil
1268 berhasil
1239 berhasil
1250 berhasil
1266 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1252 gagal
(1054, "Unknown column 'nan' in 'field list'")
1248 gagal
1265 berhasil
1255 berhasil
1237 berhasil
1243 berhasil
1253 berhasil
1249 berhasil
1236 berhasil
1238 berhasil
1247 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3110 gagal
3106 berhasil
3122 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3125 gagal
(1054, "Unknown column 'nan' in 'field list'")
3095 gagal
(1054, "Unknown column 'nan' in 'field list'")
3101 gagal
3114 berhasil
3113 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3099 gagal
(1054, "Unknown column 'nan' in 'field list'")
3116 gagal
(1054, "Unknown column 'nan' in 'field list'")
3112 gagal
(1054, "Unknown column 'nan' in 'field list'")
3108 gagal
3115 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3098 gagal
(1054, "Unknown column 'nan' in 'field list'")
3100 gagal
(1054, "Unknown column 'nan' in 'field list'")
3120 gagal
3121 berhasil
3103 berhasil
3111 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3104 gagal
3123 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3126 gagal
(1054, "Unknown column 'nan' in 'field list'")
3124 gagal
3105 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3102 gagal
(1054, "Unknown column 'nan' in 'field list'")
3119 gagal
(1054, "Unknown column 'nan' in 'field list'")
3097 gagal
(1054, "Unknown column 'nan' in 'field list'")
3117 gagal
3118 berhasil
3094 berhasil
3107 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3093 gagal
(1054, "Unknown column 'nan' in 'field list'")
3109 gagal
3092 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3096 gagal
(1054, "Unknown column 'nan' in 'field list'")
2250 gagal
2249 berhasil
2205 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2212 gagal
(1054, "Unknown column 'nan' in 'field list'")
2233 gagal
2204 berhasil
2248 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2215 gagal
2255 berhasil
2224 berhasil
2209 berhasil
2226 berhasil
2225 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2246 gagal
2245 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2213 gagal
2230 berhasil
2227 berhasil
2252 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2251 gagal
2231 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2228 gagal
2221 berhasil
2223 berhasil
2247 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2211 gagal
2222 berhasil
2206 berhasil
2235 berhasil
2238 berhasil
2239 berhasil
2256 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2257 gagal
(1054, "Unknown column 'nan' in 'field list'")
2260 gagal
(1054, "Unknown column 'nan' in 'field list'")
2210 gagal
2243 berhasil
2244 berhasil
2202 berhasil
2220 berhasil
2234 berhasil
2242 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2229 gagal
2253 berhasil
2259 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2258 gagal
(1054, "Unknown column 'nan' in 'field list'")
2236 gagal
(1054, "Unknown column 'nan' in 'field list'")
2262 gagal
2203 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2201 gagal
2241 berhasil
2240 berhasil
2254 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2232 gagal
2263 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2264 gagal
2217 berhasil
2218 berhasil
2219 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2216 gagal
2214 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2208 gagal

2207 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2237 gagal
2261 berhasil
701 berhasil
702 berhasil
659 berhasil
(1054, "Unknown column 'nan' in 'field list'")
685 gagal
658 berhasil
699 berhasil
(1054, "Unknown column 'nan' in 'field list'")
680 gagal
(1054, "Unknown column 'nan' in 'field list'")
708 gagal
663 berhasil
693 berhasil
678 berhasil
698 berhasil
692 berhasil
669 berhasil
714 berhasil
694 berhasil
679 berhasil
700 berhasil
696 berhasil
(1054, "Unknown column 'nan' in 'field list'")
684 gagal
(1054, "Unknown column 'nan' in 'field list'")
666 gagal
662 berhasil
697 berhasil
668 berhasil
683 berhasil
686 berhasil
687 berhasil
688 berhasil
690 berhasil
691 berhasil
712 berhasil
715 berhasil
716 berhasil
(1054, "Unknown column 'nan' in 'field list'")
709 gagal
710 berhasil
675 berhasil
677 berhasil
706 berhasil
(1054, "Unknown column 'nan' in 'field list'")
673 gagal
705 berhasil
713 berhasil
711 berhasil
(1054, "Unknown column 'nan' in 'field list'")
707 gagal
674 berhasil
(1054, "Unknown column 'nan' in 'field list'")
672 gagal
703 berhasil
(1054, "Unknown column 'nan' in 'field list'")
704 gagal
(1054, "Unknown column 'nan' in 'field list'")
665 gagal
695 berhasil
671 berhasil
(1054, "Unknown column 'nan' in 'field list'")
681 gagal
(1054, "Unknown column 'nan' in 'field list'")
660 gagal
682 berhasil
676 berhasil
670 berhasil
667 berhasil
661 berhasil
(1054, "Unknown column 'nan' in 'field list'")
664 gagal
689 berhasil
84 berhasil
71 berhasil
70 berhasil
82 berhasil
87 berhasil
(1054, "Unknown column 'nan' in 'field list'")
69 gagal
(1054, "Unknown column 'nan' in 'field list'")
72 gagal
83 berhasil
90 berhasil
(1054, "Unknown column 'nan' in 'field list'")
89 gagal
(1054, "Unknown column 'nan' in 'field list'")
93 gagal
(1054, "Unknown column 'nan' in 'field list'")
79 gagal
88 berhasil
86 berhasil
73 berhasil
81 berhasil
94 berhasil
(1054, "Unknown column 'nan' in 'field list'")
92 gagal
(1054, "Unknown column 'nan' in 'field list'")
74 gagal
(1054, "Unknown column 'nan' in 'field list'")
75 gagal
(1054, "Unknown column 'nan' in 'field list'")
76 gagal
(1054, "Unknown column 'nan' in 'field list'")
77 gagal
(1054, "Unknown column 'nan' in 'field list'")
91 gagal
78 berhasil
85 berhasil
66 berhasil
67 berhasil
68 berhasil
65 berhasil
(1054, "Unknown column 'nan' in 'field list'")
80 gagal
64 berhasil
63 berhasil
355 berhasil
(1054, "Unknown column 'nan' in 'field list'")
350 gagal
356 berhasil
(1054, "Unknown column 'nan' in 'field list'")
362 gagal
361 berhasil
(1054, "Unknown column 'nan' in 'field list'")
345 gagal
357 berhasil
360 berhasil
(1054, "Unknown column 'nan' in 'field list'")
346 gagal
353 berhasil
354 berhasil
(1054, "Unknown column 'nan' in 'field list'")
359 gagal
(1054, "Unknown column 'nan' in 'field list'")
348 gagal
(1054, "Unknown column 'nan' in 'field list'")
349 gagal
(1054, "Unknown column 'nan' in 'field list'")
347 gagal
(1054, "Unknown column 'nan' in 'field list'")
352 gagal
358 berhasil
343 berhasil
344 berhasil
(1054, "Unknown column 'nan' in 'field list'")
351 gagal
2455 berhasil
2454 berhasil
2481 berhasil
2464 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2472 gagal
(1054, "Unknown column 'nan' in 'field list'")
2474 gagal
2466 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2488 gagal
(1054, "Unknown column 'nan' in 'field list'")
2470 gagal
2482 berhasil
2489 berhasil
2475 berhasil
2469 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2456 gagal
2467 berhasil
2480 berhasil
2465 berhasil
2476 berhasil
2477 berhasil
2478 berhasil
2479 berhasil
2490 berhasil
2491 berhasil
2483 berhasil
2484 berhasil
2457 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2459 gagal
2487 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2486 gagal
(1054, "Unknown column 'nan' in 'field list'")
2485 gagal
2458 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2460 gagal
(1054, "Unknown column 'nan' in 'field list'")
2468 gagal
2463 berhasil
2473 berhasil
2462 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2471 gagal
2461 berhasil
2303 berhasil
2266 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2274 gagal
2265 berhasil
2302 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2313 gagal
2277 berhasil
2273 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2323 gagal
2301 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2324 gagal
2286 berhasil
2279 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2296 gagal
2317 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2295 gagal
2307 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2268 gagal
2278 berhasil
2300 berhasil
2275 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2294 gagal
2285 berhasil
2297 berhasil
2298 berhasil
2304 berhasil
2305 berhasil
2306 berhasil
2308 berhasil
2311 berhasil
2312 berhasil
2269 berhasil
2284 berhasil
2293 berhasil
2310 berhasil
2271 berhasil
2322 berhasil
2316 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2315 gagal
(1054, "Unknown column 'nan' in 'field list'")
2314 gagal
2270 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2321 gagal
(1054, "Unknown column 'nan' in 'field list'")
2272 gagal
2309 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2325 gagal
(1054, "Unknown column 'nan' in 'field list'")
2287 gagal
2318 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2319 gagal
(1054, "Unknown column 'nan' in 'field list'")
2320 gagal
2299 berhasil
2276 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2291 gagal
(1054, "Unknown column 'nan' in 'field list'")
2290 gagal
2281 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2289 gagal
(1054, "Unknown column 'nan' in 'field list'")
2288 gagal
2282 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2283 gagal
2280 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2292 gagal
(1054, "Unknown column 'nan' in 'field list'")
2267 gagal
(1054, "Unknown column 'nan' in 'field list'")
3188 gagal
(1054, "Unknown column 'nan' in 'field list'")
3176 gagal
(1054, "Unknown column 'nan' in 'field list'")
3177 gagal
(1054, "Unknown column 'nan' in 'field list'")
3187 gagal
(1054, "Unknown column 'nan' in 'field list'")
3174 gagal
(1054, "Unknown column 'nan' in 'field list'")
3185 gagal
(1054, "Unknown column 'nan' in 'field list'")
3194 gagal
3186 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3179 gagal
(1054, "Unknown column 'nan' in 'field list'")
3175 gagal
(1054, "Unknown column 'nan' in 'field list'")
3190 gagal
(1054, "Unknown column 'nan' in 'field list'")
3191 gagal
(1054, "Unknown column 'nan' in 'field list'")
3183 gagal
(1054, "Unknown column 'nan' in 'field list'")
3193 gagal
(1054, "Unknown column 'nan' in 'field list'")
3192 gagal
(1054, "Unknown column 'nan' in 'field list'")
3189 gagal
(1054, "Unknown column 'nan' in 'field list'")
3184 gagal
(1054, "Unknown column 'nan' in 'field list'")
3182 gagal
(1054, "Unknown column 'nan' in 'field list'")
3178 gagal
(1054, "Unknown column 'nan' in 'field list'")
3195 gagal
3181 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3171 gagal
(1054, "Unknown column 'nan' in 'field list'")
3180 gagal
(1054, "Unknown column 'nan' in 'field list'")
3172 gagal
(1054, "Unknown column 'nan' in 'field list'")
3173 gagal
(1054, "Unknown column 'nan' in 'field list'")
2995 gagal
2953 berhasil
2950 berhasil
2989 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2961 gagal
2985 berhasil
2970 berhasil
2957 berhasil
2994 berhasil
2962 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2971 gagal
2988 berhasil
2993 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2967 gagal
2958 berhasil
2954 berhasil
2969 berhasil
2990 berhasil
2987 berhasil
2955 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2972 gagal
2965 berhasil
2975 berhasil
2980 berhasil
2981 berhasil
2948 berhasil
2978 berhasil
2947 berhasil
2996 berhasil
2983 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2982 gagal
(1054, "Unknown column 'nan' in 'field list'")
2974 gagal
(1054, "Unknown column 'nan' in 'field list'")
2979 gagal
(1054, "Unknown column 'nan' in 'field list'")
2991 gagal
2949 berhasil

(1054, "Unknown column 'nan' in 'field list'")
2986 gagal
(1054, "Unknown column 'nan' in 'field list'")
2946 gagal
2977 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2976 gagal
(1054, "Unknown column 'nan' in 'field list'")
2984 gagal
(1054, "Unknown column 'nan' in 'field list'")
2997 gagal
(1054, "Unknown column 'nan' in 'field list'")
2964 gagal
(1054, "Unknown column 'nan' in 'field list'")
2968 gagal
(1054, "Unknown column 'nan' in 'field list'")
2956 gagal
2951 berhasil
2992 berhasil
2973 berhasil
2952 berhasil
2963 berhasil
2966 berhasil
2960 berhasil
2959 berhasil
928 berhasil
903 berhasil
886 berhasil
884 berhasil
920 berhasil
(1054, "Unknown column 'nan' in 'field list'")
890 gagal
893 berhasil
885 berhasil
927 berhasil
900 berhasil
883 berhasil
895 berhasil
896 berhasil
897 berhasil
898 berhasil
901 berhasil
936 berhasil
937 berhasil
938 berhasil
935 berhasil
912 berhasil
906 berhasil
908 berhasil
913 berhasil
911 berhasil
934 berhasil
910 berhasil
882 berhasil
933 berhasil
926 berhasil
(1054, "Unknown column 'nan' in 'field list'")
880 gagal
918 berhasil
902 berhasil
904 berhasil
929 berhasil
(1054, "Unknown column 'nan' in 'field list'")
924 gagal
(1054, "Unknown column 'nan' in 'field list'")
925 gagal
923 berhasil
881 berhasil
899 berhasil
879 berhasil
917 berhasil
919 berhasil
915 berhasil
(1054, "Unknown column 'nan' in 'field list'")
916 gagal
(1054, "Unknown column 'nan' in 'field list'")
914 gagal
922 berhasil
930 berhasil
931 berhasil
932 berhasil
(1054, "Unknown column 'nan' in 'field list'")
889 gagal
(1054, "Unknown column 'nan' in 'field list'")
887 gagal
(1054, "Unknown column 'nan' in 'field list'")
892 gagal
(1054, "Unknown column 'nan' in 'field list'")
891 gagal
(1054, "Unknown column 'nan' in 'field list'")
888 gagal
905 berhasil
907 berhasil
909 berhasil
921 berhasil
894 berhasil
2650 berhasil
2675 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2657 gagal
2652 berhasil
2623 berhasil
2634 berhasil
2674 berhasil
2621 berhasil
2624 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2685 gagal
2671 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2630 gagal
2622 berhasil
2663 berhasil
2620 berhasil
2633 berhasil
2635 berhasil
2636 berhasil
2641 berhasil
2642 berhasil
2643 berhasil
2644 berhasil
2645 berhasil
2666 berhasil
2668 berhasil
2669 berhasil
2673 berhasil
2678 berhasil
2687 berhasil
2688 berhasil
2680 berhasil
2681 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2682 gagal
2684 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2683 gagal
2655 berhasil
2656 berhasil
2659 berhasil
2686 berhasil
2619 berhasil
2672 berhasil
2617 berhasil
2646 berhasil
2667 berhasil
2638 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2670 gagal
(1054, "Unknown column 'nan' in 'field list'")
2639 gagal
(1054, "Unknown column 'nan' in 'field list'")
2648 gagal
(1054, "Unknown column 'nan' in 'field list'")
2649 gagal
(1054, "Unknown column 'nan' in 'field list'")
2647 gagal
2618 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2632 gagal
2654 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2653 gagal
2616 berhasil
2660 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2662 gagal
(1054, "Unknown column 'nan' in 'field list'")
2677 gagal
(1054, "Unknown column 'nan' in 'field list'")
2676 gagal
2661 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2629 gagal
(1054, "Unknown column 'nan' in 'field list'")
2625 gagal
(1054, "Unknown column 'nan' in 'field list'")
2626 gagal
(1054, "Unknown column 'nan' in 'field list'")
2631 gagal
(1054, "Unknown column 'nan' in 'field list'")
2627 gagal
(1054, "Unknown column 'nan' in 'field list'")
2628 gagal
(1054, "Unknown column 'nan' in 'field list'")
2637 gagal
2665 berhasil
2658 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2679 gagal
2664 berhasil
2640 berhasil
2651 berhasil
1844 berhasil
1866 berhasil
1862 berhasil
1863 berhasil
1840 berhasil
1830 berhasil
1865 berhasil
1828 berhasil
1874 berhasil
1867 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1826 gagal
1834 berhasil
1876 berhasil
1864 berhasil
1829 berhasil
1868 berhasil
1827 berhasil
1839 berhasil
1848 berhasil
1857 berhasil
1858 berhasil
1850 berhasil
1849 berhasil
1852 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1871 gagal
1821 berhasil
1855 berhasil
1819 berhasil
1870 berhasil
1846 berhasil
1845 berhasil
1872 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1833 gagal
(1054, "Unknown column 'nan' in 'field list'")
1841 gagal
(1054, "Unknown column 'nan' in 'field list'")
1873 gagal
1820 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1869 gagal
1843 berhasil
1818 berhasil
1847 berhasil
1854 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1851 gagal
(1054, "Unknown column 'nan' in 'field list'")
1853 gagal
1875 berhasil
1859 berhasil
1860 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1856 gagal
(1054, "Unknown column 'nan' in 'field list'")
1823 gagal
(1054, "Unknown column 'nan' in 'field list'")
1831 gagal
1824 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1822 gagal
(1054, "Unknown column 'nan' in 'field list'")
1825 gagal
1861 berhasil
1836 berhasil
1838 berhasil
1837 berhasil
1835 berhasil
1832 berhasil
1842 berhasil
2794 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2767 gagal
(1054, "Unknown column 'nan' in 'field list'")
2795 gagal
2754 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2758 gagal
(1054, "Unknown column 'nan' in 'field list'")
2764 gagal
2784 berhasil
2799 berhasil
2785 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2756 gagal
2787 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2762 gagal
(1054, "Unknown column 'nan' in 'field list'")
2765 gagal
2768 berhasil
2770 berhasil
2773 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2777 gagal
(1054, "Unknown column 'nan' in 'field list'")
2798 gagal
(1054, "Unknown column 'nan' in 'field list'")
2774 gagal
2776 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2778 gagal
2753 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2786 gagal
(1054, "Unknown column 'nan' in 'field list'")
2757 gagal
2783 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2796 gagal
(1054, "Unknown column 'nan' in 'field list'")
2793 gagal
(1054, "Unknown column 'nan' in 'field list'")
2766 gagal
(1054, "Unknown column 'nan' in 'field list'")
2789 gagal
(1054, "Unknown column 'nan' in 'field list'")
2788 gagal
(1054, "Unknown column 'nan' in 'field list'")
2772 gagal
2755 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2791 gagal
(1054, "Unknown column 'nan' in 'field list'")
2790 gagal
(1054, "Unknown column 'nan' in 'field list'")
2759 gagal
2781 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2782 gagal
(1054, "Unknown column 'nan' in 'field list'")
2780 gagal
2797 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2760 gagal
(1054, "Unknown column 'nan' in 'field list'")
2761 gagal
(1054, "Unknown column 'nan' in 'field list'")
2763 gagal
2792 berhasil
2775 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2779 gagal
(1054, "Unknown column 'nan' in 'field list'")
2771 gagal
2769 berhasil
237 berhasil
218 berhasil
221 berhasil
(1054, "Unknown column 'nan' in 'field list'")
258 gagal
(1054, "Unknown column 'nan' in 'field list'")
219 gagal
(1054, "Unknown column 'nan' in 'field list'")
227 gagal
217 berhasil
236 berhasil
220 berhasil
223 berhasil
250 berhasil
(1054, "Unknown column 'nan' in 'field list'")
257 gagal
259 berhasil
260 berhasil
252 berhasil
251 berhasil
(1054, "Unknown column 'nan' in 'field list'")
248 gagal
(1054, "Unknown column 'nan' in 'field list'")
238 gagal
239 berhasil
241 berhasil
240 berhasil
211 berhasil
253 berhasil
235 berhasil
212 berhasil
231 berhasil
249 berhasil
(1054, "Unknown column 'nan' in 'field list'")
245 gagal
228 berhasil
(1054, "Unknown column 'nan' in 'field list'")
232 gagal
(1054, "Unknown column 'nan' in 'field list'")
233 gagal
213 berhasil
234 berhasil
210 berhasil
230 berhasil
229 berhasil
255 berhasil
(1054, "Unknown column 'nan' in 'field list'")
242 gagal
(1054, "Unknown column 'nan' in 'field list'")
254 gagal
246 berhasil
256 berhasil
(1054, "Unknown column 'nan' in 'field list'")
247 gagal
(1054, "Unknown column 'nan' in 'field list'")
214 gagal
(1054, "Unknown column 'nan' in 'field list'")
216 gagal

(1054, "Unknown column 'nan' in 'field list'")
226 gagal
(1054, "Unknown column 'nan' in 'field list'")
215 gagal
(1054, "Unknown column 'nan' in 'field list'")
222 gagal
243 berhasil
244 berhasil
224 berhasil
225 berhasil
449 berhasil
431 berhasil
452 berhasil
(1054, "Unknown column 'nan' in 'field list'")
475 gagal
440 berhasil
442 berhasil
435 berhasil
413 berhasil
460 berhasil
474 berhasil
453 berhasil
415 berhasil
(1054, "Unknown column 'nan' in 'field list'")
473 gagal
458 berhasil
(1054, "Unknown column 'nan' in 'field list'")
424 gagal
417 berhasil
451 berhasil
411 berhasil
423 berhasil
426 berhasil
457 berhasil
459 berhasil
439 berhasil
441 berhasil
461 berhasil
412 berhasil
450 berhasil
414 berhasil
445 berhasil
438 berhasil
437 berhasil
(1054, "Unknown column 'nan' in 'field list'")
427 gagal
(1054, "Unknown column 'nan' in 'field list'")
456 gagal
(1054, "Unknown column 'nan' in 'field list'")
463 gagal
454 berhasil
416 berhasil
(1054, "Unknown column 'nan' in 'field list'")
476 gagal
(1054, "Unknown column 'nan' in 'field list'")
432 gagal
434 berhasil
(1054, "Unknown column 'nan' in 'field list'")
410 gagal
448 berhasil
446 berhasil
(1054, "Unknown column 'nan' in 'field list'")
444 gagal
(1054, "Unknown column 'nan' in 'field list'")
462 gagal
(1054, "Unknown column 'nan' in 'field list'")
443 gagal
447 berhasil
(1054, "Unknown column 'nan' in 'field list'")
465 gagal
455 berhasil
(1054, "Unknown column 'nan' in 'field list'")
418 gagal
(1054, "Unknown column 'nan' in 'field list'")
419 gagal
(1054, "Unknown column 'nan' in 'field list'")
420 gagal
(1054, "Unknown column 'nan' in 'field list'")
421 gagal
(1054, "Unknown column 'nan' in 'field list'")
422 gagal
(1054, "Unknown column 'nan' in 'field list'")
464 gagal
436 berhasil
(1054, "Unknown column 'nan' in 'field list'")
466 gagal
(1054, "Unknown column 'nan' in 'field list'")
470 gagal
(1054, "Unknown column 'nan' in 'field list'")
472 gagal
(1054, "Unknown column 'nan' in 'field list'")
468 gagal
(1054, "Unknown column 'nan' in 'field list'")
467 gagal
(1054, "Unknown column 'nan' in 'field list'")
469 gagal
429 berhasil
(1054, "Unknown column 'nan' in 'field list'")
430 gagal
425 berhasil
428 berhasil
433 berhasil
(1054, "Unknown column 'nan' in 'field list'")
471 gagal
(1054, "Unknown column 'nan' in 'field list'")
3208 gagal
(1054, "Unknown column 'nan' in 'field list'")
3209 gagal
(1054, "Unknown column 'nan' in 'field list'")
3228 gagal
(1054, "Unknown column 'nan' in 'field list'")
3226 gagal
(1054, "Unknown column 'nan' in 'field list'")
3206 gagal
(1054, "Unknown column 'nan' in 'field list'")
3224 gagal
(1054, "Unknown column 'nan' in 'field list'")
3205 gagal
(1054, "Unknown column 'nan' in 'field list'")
3203 gagal
(1054, "Unknown column 'nan' in 'field list'")
3220 gagal
(1054, "Unknown column 'nan' in 'field list'")
3211 gagal
(1054, "Unknown column 'nan' in 'field list'")
3207 gagal
(1054, "Unknown column 'nan' in 'field list'")
3227 gagal
(1054, "Unknown column 'nan' in 'field list'")
3202 gagal
(1054, "Unknown column 'nan' in 'field list'")
3204 gagal
(1054, "Unknown column 'nan' in 'field list'")
3214 gagal
3223 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3221 gagal
(1054, "Unknown column 'nan' in 'field list'")
3229 gagal
(1054, "Unknown column 'nan' in 'field list'")
3230 gagal
(1054, "Unknown column 'nan' in 'field list'")
3215 gagal
(1054, "Unknown column 'nan' in 'field list'")
3219 gagal
(1054, "Unknown column 'nan' in 'field list'")
3217 gagal
(1054, "Unknown column 'nan' in 'field list'")
3216 gagal
(1054, "Unknown column 'nan' in 'field list'")
3210 gagal
(1054, "Unknown column 'nan' in 'field list'")
3225 gagal
(1054, "Unknown column 'nan' in 'field list'")
3218 gagal
(1054, "Unknown column 'nan' in 'field list'")
3212 gagal
(1054, "Unknown column 'nan' in 'field list'")
3213 gagal
(1054, "Unknown column 'nan' in 'field list'")
3222 gagal
(1054, "Unknown column 'nan' in 'field list'")
3201 gagal
1458 berhasil
1442 berhasil
1427 berhasil
1453 berhasil
1441 berhasil
1425 berhasil
1456 berhasil
1438 berhasil
1457 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1423 gagal
1481 berhasil
1470 berhasil
1428 berhasil
1426 berhasil
1454 berhasil
1424 berhasil
1439 berhasil
1440 berhasil
1476 berhasil
1463 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1472 gagal
1464 berhasil
1475 berhasil
1480 berhasil
1465 berhasil
1419 berhasil
1462 berhasil
1460 berhasil
1461 berhasil
1417 berhasil
1446 berhasil
1478 berhasil
1477 berhasil
1429 berhasil
1483 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1448 gagal
(1054, "Unknown column 'nan' in 'field list'")
1482 gagal
(1054, "Unknown column 'nan' in 'field list'")
1449 gagal
1484 berhasil
1418 berhasil
1444 berhasil
1416 berhasil
1445 berhasil
1447 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1474 gagal
(1054, "Unknown column 'nan' in 'field list'")
1466 gagal
(1054, "Unknown column 'nan' in 'field list'")
1473 gagal
1452 berhasil
1450 berhasil
1451 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1479 gagal
(1054, "Unknown column 'nan' in 'field list'")
1420 gagal
(1054, "Unknown column 'nan' in 'field list'")
1422 gagal
(1054, "Unknown column 'nan' in 'field list'")
1430 gagal
(1054, "Unknown column 'nan' in 'field list'")
1421 gagal
(1054, "Unknown column 'nan' in 'field list'")
1432 gagal
1455 berhasil
1467 berhasil
1468 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1471 gagal
1469 berhasil
1459 berhasil
1431 berhasil
1437 berhasil
1436 berhasil
1433 berhasil
1434 berhasil
1435 berhasil
1443 berhasil
2014 berhasil
1988 berhasil
1975 berhasil
2026 berhasil
2028 berhasil
1973 berhasil
2009 berhasil
2030 berhasil
2017 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1980 gagal
2024 berhasil
1974 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2010 gagal
2013 berhasil
2016 berhasil
1972 berhasil
1987 berhasil
2022 berhasil
2027 berhasil
2023 berhasil
2021 berhasil
1995 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1999 gagal
1996 berhasil
1998 berhasil
1997 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2018 gagal
1971 berhasil
2012 berhasil
1969 berhasil
2006 berhasil
1994 berhasil
1992 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1976 gagal
(1054, "Unknown column 'nan' in 'field list'")
2029 gagal
(1054, "Unknown column 'nan' in 'field list'")
2011 gagal
1970 berhasil
1991 berhasil
1990 berhasil
1968 berhasil
2005 berhasil
2007 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2000 gagal
(1054, "Unknown column 'nan' in 'field list'")
2001 gagal
2019 berhasil
2020 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2015 gagal
(1054, "Unknown column 'nan' in 'field list'")
1979 gagal
(1054, "Unknown column 'nan' in 'field list'")
1977 gagal
(1054, "Unknown column 'nan' in 'field list'")
1978 gagal
(1054, "Unknown column 'nan' in 'field list'")
1982 gagal
1993 berhasil
2002 berhasil
2003 berhasil
2004 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2025 gagal
(1054, "Unknown column 'nan' in 'field list'")
1985 gagal
2008 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1983 gagal
(1054, "Unknown column 'nan' in 'field list'")
1986 gagal
1984 berhasil
1981 berhasil
1989 berhasil
1606 berhasil
1591 berhasil
1577 berhasil
1575 berhasil
1609 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1581 gagal
1623 berhasil
1605 berhasil
1610 berhasil
1576 berhasil
1604 berhasil
1590 berhasil
1574 berhasil
1587 berhasil
1601 berhasil
1602 berhasil
1621 berhasil
1613 berhasil
1622 berhasil
1614 berhasil
1615 berhasil
1568 berhasil
1603 berhasil
1566 berhasil
1598 berhasil
1612 berhasil
1611 berhasil
1580 berhasil
1608 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1583 gagal
(1054, "Unknown column 'nan' in 'field list'")
1585 gagal
(1054, "Unknown column 'nan' in 'field list'")
1584 gagal
1567 berhasil
1593 berhasil
1594 berhasil
1565 berhasil
1596 berhasil
1597 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1595 gagal
1620 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1616 gagal
(1054, "Unknown column 'nan' in 'field list'")
1619 gagal
1607 berhasil
1600 berhasil
1599 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1572 gagal
(1054, "Unknown column 'nan' in 'field list'")
1569 gagal
1579 berhasil

(1054, "Unknown column 'nan' in 'field list'")
1578 gagal
(1054, "Unknown column 'nan' in 'field list'")
1571 gagal
(1054, "Unknown column 'nan' in 'field list'")
1570 gagal
1573 berhasil
1624 berhasil
1617 berhasil
1618 berhasil
1582 berhasil
1586 berhasil
1588 berhasil
1589 berhasil
1592 berhasil
2529 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2530 gagal
2500 berhasil
2499 berhasil
2536 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2511 gagal
(1054, "Unknown column 'nan' in 'field list'")
2524 gagal
2504 berhasil
2515 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2535 gagal
2505 berhasil
2528 berhasil
2502 berhasil
2510 berhasil
2532 berhasil
2501 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2533 gagal
(1054, "Unknown column 'nan' in 'field list'")
2516 gagal
2506 berhasil
2537 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2517 gagal
2503 berhasil
2514 berhasil
2518 berhasil
2538 berhasil
2519 berhasil
2493 berhasil
2513 berhasil
2521 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2494 gagal
2522 berhasil
2526 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2527 gagal
(1054, "Unknown column 'nan' in 'field list'")
2534 gagal
2495 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2525 gagal
(1054, "Unknown column 'nan' in 'field list'")
2492 gagal
2520 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2523 gagal
(1054, "Unknown column 'nan' in 'field list'")
2496 gagal
(1054, "Unknown column 'nan' in 'field list'")
2498 gagal
(1054, "Unknown column 'nan' in 'field list'")
2497 gagal
2531 berhasil
2508 berhasil
2509 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2512 gagal
2507 berhasil
1007 berhasil
1006 berhasil
1023 berhasil
1028 berhasil
1035 berhasil
1004 berhasil
1022 berhasil
1051 berhasil
1029 berhasil
1015 berhasil
1003 berhasil
1018 berhasil
1050 berhasil
1036 berhasil
1032 berhasil
1027 berhasil
1012 berhasil
1011 berhasil
1033 berhasil
1046 berhasil
1034 berhasil
1047 berhasil
1049 berhasil
1039 berhasil
1053 berhasil
1000 berhasil
1002 berhasil
1030 berhasil
1052 berhasil
1001 berhasil
1024 berhasil
1025 berhasil
1026 berhasil
1031 berhasil
1055 berhasil
1056 berhasil
1057 berhasil
1008 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1010 gagal
(1054, "Unknown column 'nan' in 'field list'")
1009 gagal
1017 berhasil
1045 berhasil
1037 berhasil
1040 berhasil
1042 berhasil
1044 berhasil
1041 berhasil
1043 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1038 gagal
1048 berhasil
1005 berhasil
1021 berhasil
1016 berhasil
1019 berhasil
1014 berhasil
1020 berhasil
1013 berhasil
1054 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2195 gagal
(1054, "Unknown column 'nan' in 'field list'")
2198 gagal
2160 berhasil
2172 berhasil
2193 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2164 gagal
(1054, "Unknown column 'nan' in 'field list'")
2190 gagal
(1054, "Unknown column 'nan' in 'field list'")
2181 gagal
(1054, "Unknown column 'nan' in 'field list'")
2162 gagal
2191 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2179 gagal
2196 berhasil
2199 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2175 gagal
(1054, "Unknown column 'nan' in 'field list'")
2173 gagal
(1054, "Unknown column 'nan' in 'field list'")
2180 gagal
2192 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2161 gagal
2178 berhasil
2185 berhasil
2184 berhasil
2169 berhasil
2177 berhasil
2183 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2167 gagal
2188 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2186 gagal
(1054, "Unknown column 'nan' in 'field list'")
2187 gagal
2168 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2189 gagal
(1054, "Unknown column 'nan' in 'field list'")
2166 gagal
2182 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2200 gagal
(1054, "Unknown column 'nan' in 'field list'")
2176 gagal
(1054, "Unknown column 'nan' in 'field list'")
2170 gagal
(1054, "Unknown column 'nan' in 'field list'")
2194 gagal
2165 berhasil
2171 berhasil
2163 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2174 gagal
(1054, "Unknown column 'nan' in 'field list'")
2197 gagal
(1054, "Unknown column 'nan' in 'field list'")
3063 gagal
3031 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3045 gagal
3032 berhasil
3068 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3077 gagal
(1054, "Unknown column 'nan' in 'field list'")
3049 gagal
(1054, "Unknown column 'nan' in 'field list'")
3042 gagal
(1054, "Unknown column 'nan' in 'field list'")
3067 gagal
(1054, "Unknown column 'nan' in 'field list'")
3047 gagal
(1054, "Unknown column 'nan' in 'field list'")
3062 gagal
(1054, "Unknown column 'nan' in 'field list'")
3041 gagal
(1054, "Unknown column 'nan' in 'field list'")
3080 gagal
(1054, "Unknown column 'nan' in 'field list'")
3064 gagal
(1054, "Unknown column 'nan' in 'field list'")
3054 gagal
(1054, "Unknown column 'nan' in 'field list'")
3034 gagal
(1054, "Unknown column 'nan' in 'field list'")
3048 gagal
3066 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3040 gagal
(1054, "Unknown column 'nan' in 'field list'")
3046 gagal
(1054, "Unknown column 'nan' in 'field list'")
3037 gagal
3058 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3059 gagal
(1054, "Unknown column 'nan' in 'field list'")
3082 gagal
(1054, "Unknown column 'nan' in 'field list'")
3083 gagal
(1054, "Unknown column 'nan' in 'field list'")
3084 gagal
(1054, "Unknown column 'nan' in 'field list'")
3085 gagal
(1054, "Unknown column 'nan' in 'field list'")
3086 gagal
(1054, "Unknown column 'nan' in 'field list'")
3087 gagal
(1054, "Unknown column 'nan' in 'field list'")
3088 gagal
3089 berhasil
3090 berhasil
3091 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3043 gagal
(1054, "Unknown column 'nan' in 'field list'")
3053 gagal
(1054, "Unknown column 'nan' in 'field list'")
3073 gagal
3074 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3075 gagal
3027 berhasil
3050 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3071 gagal
(1054, "Unknown column 'nan' in 'field list'")
3028 gagal
(1054, "Unknown column 'nan' in 'field list'")
3070 gagal
(1054, "Unknown column 'nan' in 'field list'")
3079 gagal
(1054, "Unknown column 'nan' in 'field list'")
3076 gagal
3030 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3078 gagal
(1054, "Unknown column 'nan' in 'field list'")
3029 gagal
(1054, "Unknown column 'nan' in 'field list'")
3072 gagal
(1054, "Unknown column 'nan' in 'field list'")
3069 gagal
(1054, "Unknown column 'nan' in 'field list'")
3081 gagal
(1054, "Unknown column 'nan' in 'field list'")
3051 gagal
(1054, "Unknown column 'nan' in 'field list'")
3035 gagal
(1054, "Unknown column 'nan' in 'field list'")
3057 gagal
(1054, "Unknown column 'nan' in 'field list'")
3065 gagal
(1054, "Unknown column 'nan' in 'field list'")
3056 gagal
(1054, "Unknown column 'nan' in 'field list'")
3060 gagal
(1054, "Unknown column 'nan' in 'field list'")
3055 gagal
3039 berhasil
(1054, "Unknown column 'nan' in 'field list'")
3038 gagal
(1054, "Unknown column 'nan' in 'field list'")
3036 gagal
(1054, "Unknown column 'nan' in 'field list'")
3061 gagal
(1054, "Unknown column 'nan' in 'field list'")
3052 gagal
(1054, "Unknown column 'nan' in 'field list'")
3044 gagal
(1054, "Unknown column 'nan' in 'field list'")
3033 gagal
951 berhasil
955 berhasil
956 berhasil
947 berhasil
952 berhasil
954 berhasil
953 berhasil
957 berhasil
944 berhasil
945 berhasil
946 berhasil
950 berhasil
948 berhasil
949 berhasil
943 berhasil
941 berhasil
942 berhasil
939 berhasil
940 berhasil
1643 berhasil
1634 berhasil
1633 berhasil
1640 berhasil
1641 berhasil
1642 berhasil
1644 berhasil
1636 berhasil
1639 berhasil
1645 berhasil
1637 berhasil
1629 berhasil
1625 berhasil
1638 berhasil
1631 berhasil
1632 berhasil
1630 berhasil
1628 berhasil
1635 berhasil
1627 berhasil
1626 berhasil
2072 berhasil
2057 berhasil
2058 berhasil
2070 berhasil
2067 berhasil
2068 berhasil
2074 berhasil
2075 berhasil
2073 berhasil
2069 berhasil
2071 berhasil
2063 berhasil
2064 berhasil
2060 berhasil
2062 berhasil
2059 berhasil
2065 berhasil
2066 berhasil
2061 berhasil
2435 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2431 gagal

(1054, "Unknown column 'nan' in 'field list'")
2418 gagal
2442 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2412 gagal
(1054, "Unknown column 'nan' in 'field list'")
2421 gagal
(1054, "Unknown column 'nan' in 'field list'")
2416 gagal
2434 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2417 gagal
2419 berhasil
2422 berhasil
2436 berhasil
2443 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2440 gagal
2427 berhasil
2428 berhasil
2439 berhasil
2408 berhasil
2424 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2410 gagal
2426 berhasil
2438 berhasil
2437 berhasil
2415 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2433 gagal
(1054, "Unknown column 'nan' in 'field list'")
2430 gagal
2409 berhasil
2407 berhasil
2423 berhasil
2425 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2429 gagal
(1054, "Unknown column 'nan' in 'field list'")
2441 gagal
(1054, "Unknown column 'nan' in 'field list'")
2413 gagal
2411 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2414 gagal
2420 berhasil
2432 berhasil
1087 berhasil
1122 berhasil
1111 berhasil
1110 berhasil
1088 berhasil
1065 berhasil
1144 berhasil
1064 berhasil
1138 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1072 gagal
1067 berhasil
1136 berhasil
1066 berhasil
1121 berhasil
1099 berhasil
1098 berhasil
1097 berhasil
1063 berhasil
1078 berhasil
1079 berhasil
1080 berhasil
1081 berhasil
1082 berhasil
1083 berhasil
1084 berhasil
1085 berhasil
1086 berhasil
1089 berhasil
1126 berhasil
1127 berhasil
1128 berhasil
1129 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1130 gagal
1131 berhasil
1132 berhasil
1133 berhasil
1134 berhasil
1135 berhasil
1137 berhasil
1139 berhasil
1140 berhasil
1142 berhasil
1143 berhasil
1145 berhasil
1146 berhasil
1147 berhasil
1096 berhasil
1117 berhasil
1103 berhasil
1100 berhasil
1102 berhasil
1104 berhasil
1105 berhasil
1141 berhasil
1106 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1101 gagal
1060 berhasil
1120 berhasil
1059 berhasil
1095 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1062 gagal
(1054, "Unknown column 'nan' in 'field list'")
1124 gagal
1076 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1116 gagal
(1054, "Unknown column 'nan' in 'field list'")
1115 gagal
1112 berhasil
1093 berhasil
1090 berhasil
1061 berhasil
1118 berhasil
1119 berhasil
1058 berhasil
1094 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1109 gagal
(1054, "Unknown column 'nan' in 'field list'")
1107 gagal
(1054, "Unknown column 'nan' in 'field list'")
1108 gagal
1125 berhasil
1113 berhasil
1114 berhasil
1068 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1069 gagal
(1054, "Unknown column 'nan' in 'field list'")
1070 gagal
(1054, "Unknown column 'nan' in 'field list'")
1071 gagal
(1054, "Unknown column 'nan' in 'field list'")
1074 gagal
1123 berhasil
1092 berhasil
1077 berhasil
1073 berhasil
1075 berhasil
1091 berhasil
303 berhasil
(1054, "Unknown column 'nan' in 'field list'")
304 gagal
281 berhasil
310 berhasil
274 berhasil
276 berhasil
308 berhasil
271 berhasil
301 berhasil
311 berhasil
277 berhasil
290 berhasil
306 berhasil
(1054, "Unknown column 'nan' in 'field list'")
302 gagal
(1054, "Unknown column 'nan' in 'field list'")
284 gagal
272 berhasil
309 berhasil
275 berhasil
273 berhasil
320 berhasil
321 berhasil
307 berhasil
(1054, "Unknown column 'nan' in 'field list'")
279 gagal
(1054, "Unknown column 'nan' in 'field list'")
317 gagal
(1054, "Unknown column 'nan' in 'field list'")
315 gagal
316 berhasil
(1054, "Unknown column 'nan' in 'field list'")
319 gagal
292 berhasil
289 berhasil
312 berhasil
293 berhasil
323 berhasil
(1054, "Unknown column 'nan' in 'field list'")
322 gagal
294 berhasil
(1054, "Unknown column 'nan' in 'field list'")
318 gagal
291 berhasil
313 berhasil
(1054, "Unknown column 'nan' in 'field list'")
314 gagal
(1054, "Unknown column 'nan' in 'field list'")
297 gagal
(1054, "Unknown column 'nan' in 'field list'")
280 gagal
(1054, "Unknown column 'nan' in 'field list'")
282 gagal
305 berhasil
300 berhasil
296 berhasil
288 berhasil
(1054, "Unknown column 'nan' in 'field list'")
298 gagal
286 berhasil
295 berhasil
287 berhasil
285 berhasil
278 berhasil
(1054, "Unknown column 'nan' in 'field list'")
283 gagal
299 berhasil
2740 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2741 gagal
2720 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2727 gagal
(1054, "Unknown column 'nan' in 'field list'")
2735 gagal
2739 berhasil
2752 berhasil
2712 berhasil
2718 berhasil
2725 berhasil
2737 berhasil
2731 berhasil
2717 berhasil
2747 berhasil
2723 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2708 gagal
2707 berhasil
2745 berhasil
2742 berhasil
2743 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2751 gagal
(1054, "Unknown column 'nan' in 'field list'")
2734 gagal
(1054, "Unknown column 'nan' in 'field list'")
2715 gagal
(1054, "Unknown column 'nan' in 'field list'")
2729 gagal
2719 berhasil
2738 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2724 gagal
(1054, "Unknown column 'nan' in 'field list'")
2716 gagal
2714 berhasil
2721 berhasil
2730 berhasil
2732 berhasil
2733 berhasil
2736 berhasil
2746 berhasil
2750 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2728 gagal
2705 berhasil
2706 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2713 gagal
(1054, "Unknown column 'nan' in 'field list'")
2722 gagal
2748 berhasil
2749 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2744 gagal
2709 berhasil
2710 berhasil
2711 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2726 gagal
116 berhasil
115 berhasil
139 berhasil
(1054, "Unknown column 'nan' in 'field list'")
129 gagal
(1054, "Unknown column 'nan' in 'field list'")
117 gagal
(1054, "Unknown column 'nan' in 'field list'")
131 gagal
132 berhasil
(1054, "Unknown column 'nan' in 'field list'")
127 gagal
130 berhasil
(1054, "Unknown column 'nan' in 'field list'")
128 gagal
(1054, "Unknown column 'nan' in 'field list'")
126 gagal
(1054, "Unknown column 'nan' in 'field list'")
138 gagal
137 berhasil
121 berhasil
(1054, "Unknown column 'nan' in 'field list'")
119 gagal
134 berhasil
(1054, "Unknown column 'nan' in 'field list'")
136 gagal
(1054, "Unknown column 'nan' in 'field list'")
120 gagal
(1054, "Unknown column 'nan' in 'field list'")
118 gagal
(1054, "Unknown column 'nan' in 'field list'")
135 gagal
(1054, "Unknown column 'nan' in 'field list'")
133 gagal
124 berhasil
(1054, "Unknown column 'nan' in 'field list'")
125 gagal
122 berhasil
123 berhasil
1289 berhasil
1288 berhasil
1324 berhasil
1293 berhasil
1344 berhasil
1300 berhasil
1331 berhasil
1332 berhasil
1322 berhasil
1312 berhasil
1298 berhasil
1349 berhasil
1318 berhasil
1321 berhasil
1319 berhasil
1325 berhasil
1310 berhasil
1302 berhasil
1286 berhasil
1299 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1329 gagal
1323 berhasil
1297 berhasil
1316 berhasil
1317 berhasil
1351 berhasil
1350 berhasil
1339 berhasil
1340 berhasil
1347 berhasil
1305 berhasil
1352 berhasil
1303 berhasil
1334 berhasil
1345 berhasil
1343 berhasil
1348 berhasil
1315 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1337 gagal
(1054, "Unknown column 'nan' in 'field list'")
1338 gagal
1304 berhasil
1336 berhasil
1306 berhasil
1335 berhasil
1333 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1341 gagal
1342 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1308 gagal
(1054, "Unknown column 'nan' in 'field list'")
1309 gagal
(1054, "Unknown column 'nan' in 'field list'")
1307 gagal
1311 berhasil
1301 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1290 gagal
1287 berhasil
1346 berhasil
1328 berhasil
1326 berhasil
1327 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1330 gagal
1320 berhasil
1314 berhasil
1313 berhasil
1294 berhasil
1296 berhasil
1295 berhasil
1292 berhasil
1291 berhasil
1211 berhasil
1210 berhasil
1225 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1223 gagal
1226 berhasil
1217 berhasil
1227 berhasil
1215 berhasil
1224 berhasil
1218 berhasil
1228 berhasil
1229 berhasil
1209 berhasil
1219 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1216 gagal
(1054, "Unknown column 'nan' in 'field list'")
1220 gagal
(1054, "Unknown column 'nan' in 'field list'")
1222 gagal
(1054, "Unknown column 'nan' in 'field list'")
1208 gagal
(1054, "Unknown column 'nan' in 'field list'")
1221 gagal
(1054, "Unknown column 'nan' in 'field list'")
1213 gagal
(1054, "Unknown column 'nan' in 'field list'")
1214 gagal

1212 berhasil
(1054, "Unknown column 'nan' in 'field list'")
964 gagal
958 berhasil
972 berhasil
965 berhasil
966 berhasil
970 berhasil
(1054, "Unknown column 'nan' in 'field list'")
968 gagal
978 berhasil
977 berhasil
971 berhasil
979 berhasil
(1054, "Unknown column 'nan' in 'field list'")
976 gagal
974 berhasil
(1054, "Unknown column 'nan' in 'field list'")
975 gagal
(1054, "Unknown column 'nan' in 'field list'")
973 gagal
(1054, "Unknown column 'nan' in 'field list'")
963 gagal
(1054, "Unknown column 'nan' in 'field list'")
969 gagal
(1054, "Unknown column 'nan' in 'field list'")
961 gagal
959 berhasil
962 berhasil
(1054, "Unknown column 'nan' in 'field list'")
967 gagal
(1054, "Unknown column 'nan' in 'field list'")
960 gagal
584 berhasil
601 berhasil
607 berhasil
614 berhasil
(1054, "Unknown column 'nan' in 'field list'")
623 gagal
583 berhasil
594 berhasil
611 berhasil
603 berhasil
581 berhasil
615 berhasil
(1054, "Unknown column 'nan' in 'field list'")
609 gagal
(1054, "Unknown column 'nan' in 'field list'")
628 gagal
612 berhasil
593 berhasil
596 berhasil
591 berhasil
626 berhasil
606 berhasil
610 berhasil
582 berhasil
613 berhasil
580 berhasil
(1054, "Unknown column 'nan' in 'field list'")
620 gagal
621 berhasil
588 berhasil
578 berhasil
579 berhasil
619 berhasil
590 berhasil
625 berhasil
(1054, "Unknown column 'nan' in 'field list'")
624 gagal
(1054, "Unknown column 'nan' in 'field list'")
622 gagal
589 berhasil
(1054, "Unknown column 'nan' in 'field list'")
627 gagal
587 berhasil
617 berhasil
618 berhasil
(1054, "Unknown column 'nan' in 'field list'")
597 gagal
608 berhasil
(1054, "Unknown column 'nan' in 'field list'")
602 gagal
605 berhasil
600 berhasil
598 berhasil
616 berhasil
592 berhasil
577 berhasil
604 berhasil
599 berhasil
575 berhasil
576 berhasil
574 berhasil
(1054, "Unknown column 'nan' in 'field list'")
586 gagal
573 berhasil
595 berhasil
(1054, "Unknown column 'nan' in 'field list'")
585 gagal
(1054, "Unknown column 'nan' in 'field list'")
2851 gagal
2866 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2861 gagal
(1054, "Unknown column 'nan' in 'field list'")
2868 gagal
2869 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2853 gagal
2867 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2852 gagal
2865 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2856 gagal
2863 berhasil
2864 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2870 gagal
(1054, "Unknown column 'nan' in 'field list'")
2858 gagal
(1054, "Unknown column 'nan' in 'field list'")
2859 gagal
(1054, "Unknown column 'nan' in 'field list'")
2857 gagal
(1054, "Unknown column 'nan' in 'field list'")
2862 gagal
(1054, "Unknown column 'nan' in 'field list'")
2860 gagal
(1054, "Unknown column 'nan' in 'field list'")
2855 gagal
(1054, "Unknown column 'nan' in 'field list'")
2854 gagal
774 berhasil
756 berhasil
772 berhasil
(1054, "Unknown column 'nan' in 'field list'")
786 gagal
773 berhasil
781 berhasil
770 berhasil
775 berhasil
788 berhasil
(1054, "Unknown column 'nan' in 'field list'")
758 gagal
771 berhasil
757 berhasil
767 berhasil
768 berhasil
777 berhasil
778 berhasil
759 berhasil
769 berhasil
(1054, "Unknown column 'nan' in 'field list'")
763 gagal
780 berhasil
(1054, "Unknown column 'nan' in 'field list'")
779 gagal
(1054, "Unknown column 'nan' in 'field list'")
765 gagal
764 berhasil
(1054, "Unknown column 'nan' in 'field list'")
787 gagal
776 berhasil
760 berhasil
784 berhasil
(1054, "Unknown column 'nan' in 'field list'")
783 gagal
(1054, "Unknown column 'nan' in 'field list'")
785 gagal
(1054, "Unknown column 'nan' in 'field list'")
782 gagal
(1054, "Unknown column 'nan' in 'field list'")
761 gagal
(1054, "Unknown column 'nan' in 'field list'")
762 gagal
751 berhasil
752 berhasil
754 berhasil
750 berhasil
(1054, "Unknown column 'nan' in 'field list'")
753 gagal
755 berhasil
(1054, "Unknown column 'nan' in 'field list'")
766 gagal
178 berhasil
175 berhasil
191 berhasil
190 berhasil
181 berhasil
177 berhasil
197 berhasil
(1054, "Unknown column 'nan' in 'field list'")
204 gagal
172 berhasil
173 berhasil
194 berhasil
208 berhasil
179 berhasil
188 berhasil
182 berhasil
174 berhasil
193 berhasil
184 berhasil
195 berhasil
206 berhasil
198 berhasil
(1054, "Unknown column 'nan' in 'field list'")
189 gagal
(1054, "Unknown column 'nan' in 'field list'")
183 gagal
(1054, "Unknown column 'nan' in 'field list'")
176 gagal
171 berhasil
196 berhasil
(1054, "Unknown column 'nan' in 'field list'")
186 gagal
170 berhasil
163 berhasil
169 berhasil
(1054, "Unknown column 'nan' in 'field list'")
180 gagal
209 berhasil
203 berhasil
207 berhasil
(1054, "Unknown column 'nan' in 'field list'")
202 gagal
(1054, "Unknown column 'nan' in 'field list'")
200 gagal
199 berhasil
201 berhasil
205 berhasil
192 berhasil
166 berhasil
167 berhasil
168 berhasil
187 berhasil
165 berhasil
164 berhasil
185 berhasil
7 berhasil
6 berhasil
33 berhasil
42 berhasil
(1054, "Unknown column 'nan' in 'field list'")
4 gagal
(1054, "Unknown column 'nan' in 'field list'")
53 gagal
21 berhasil
(1054, "Unknown column 'nan' in 'field list'")
23 gagal
0 berhasil
61 berhasil
40 berhasil
26 berhasil
19 berhasil
43 berhasil
22 berhasil
16 berhasil
58 berhasil
60 berhasil
56 berhasil
31 berhasil
(1054, "Unknown column 'nan' in 'field list'")
25 gagal
(1054, "Unknown column 'nan' in 'field list'")
35 gagal
(1054, "Unknown column 'nan' in 'field list'")
38 gagal
20 berhasil
41 berhasil
62 berhasil
18 berhasil
(1054, "Unknown column 'nan' in 'field list'")
30 gagal
48 berhasil
49 berhasil
11 berhasil
34 berhasil
15 berhasil
17 berhasil
46 berhasil
13 berhasil
47 berhasil
59 berhasil
(1054, "Unknown column 'nan' in 'field list'")
54 gagal
(1054, "Unknown column 'nan' in 'field list'")
52 gagal
51 berhasil
14 berhasil
(1054, "Unknown column 'nan' in 'field list'")
12 gagal
(1054, "Unknown column 'nan' in 'field list'")
44 gagal
(1054, "Unknown column 'nan' in 'field list'")
45 gagal
(1054, "Unknown column 'nan' in 'field list'")
50 gagal
37 berhasil
36 berhasil
(1054, "Unknown column 'nan' in 'field list'")
8 gagal
55 berhasil
57 berhasil
29 berhasil
5 berhasil
27 berhasil
(1054, "Unknown column 'nan' in 'field list'")
32 gagal
24 berhasil
3 berhasil
(1054, "Unknown column 'nan' in 'field list'")
39 gagal
2 berhasil
28 berhasil
10 berhasil
1 berhasil
(1054, "Unknown column 'nan' in 'field list'")
9 gagal
(1054, "Unknown column 'nan' in 'field list'")
2838 gagal
2806 berhasil
2804 berhasil
2845 berhasil
2840 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2809 gagal
(1054, "Unknown column 'nan' in 'field list'")
2835 gagal
2815 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2818 gagal
2843 berhasil
2819 berhasil
2812 berhasil
2846 berhasil
2842 berhasil
2841 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2805 gagal
2817 berhasil
2814 berhasil
2844 berhasil
2813 berhasil
2823 berhasil
2824 berhasil
2825 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2826 gagal
(1054, "Unknown column 'nan' in 'field list'")
2827 gagal
(1054, "Unknown column 'nan' in 'field list'")
2828 gagal
(1054, "Unknown column 'nan' in 'field list'")
2829 gagal
2830 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2849 gagal
(1054, "Unknown column 'nan' in 'field list'")
2850 gagal
(1054, "Unknown column 'nan' in 'field list'")
2831 gagal
2832 berhasil
2800 berhasil
2816 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2802 gagal
2848 berhasil
2837 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2836 gagal
(1054, "Unknown column 'nan' in 'field list'")
2847 gagal
2803 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2801 gagal
2833 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2834 gagal
(1054, "Unknown column 'nan' in 'field list'")
2807 gagal
2839 berhasil
2821 berhasil
2811 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2822 gagal
(1054, "Unknown column 'nan' in 'field list'")
2820 gagal
2810 berhasil
2808 berhasil
2096 berhasil
2114 berhasil
2132 berhasil
2159 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2099 gagal
(1054, "Unknown column 'nan' in 'field list'")
2147 gagal
2110 berhasil
2152 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2130 gagal

2112 berhasil
2108 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2117 gagal
2133 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2120 gagal
2158 berhasil
2129 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2118 gagal
2149 berhasil
2150 berhasil
2142 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2134 gagal
2127 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2100 gagal
(1054, "Unknown column 'nan' in 'field list'")
2115 gagal
(1054, "Unknown column 'nan' in 'field list'")
2116 gagal
2109 berhasil
2131 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2151 gagal
2107 berhasil
2145 berhasil
2148 berhasil
2136 berhasil
2135 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2144 gagal
2104 berhasil
2111 berhasil
2137 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2105 gagal
2155 berhasil
2139 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2146 gagal
(1054, "Unknown column 'nan' in 'field list'")
2157 gagal
(1054, "Unknown column 'nan' in 'field list'")
2140 gagal
(1054, "Unknown column 'nan' in 'field list'")
2156 gagal
2106 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2103 gagal
2153 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2154 gagal
(1054, "Unknown column 'nan' in 'field list'")
2141 gagal
2138 berhasil
2119 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2122 gagal
2128 berhasil
2113 berhasil
2143 berhasil
2123 berhasil
2098 berhasil
2101 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2124 gagal
(1054, "Unknown column 'nan' in 'field list'")
2125 gagal
2102 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2126 gagal
(1054, "Unknown column 'nan' in 'field list'")
2121 gagal
2097 berhasil
109 berhasil
(1054, "Unknown column 'nan' in 'field list'")
98 gagal
(1054, "Unknown column 'nan' in 'field list'")
99 gagal
113 berhasil
(1054, "Unknown column 'nan' in 'field list'")
102 gagal
(1054, "Unknown column 'nan' in 'field list'")
108 gagal
114 berhasil
(1054, "Unknown column 'nan' in 'field list'")
105 gagal
111 berhasil
(1054, "Unknown column 'nan' in 'field list'")
101 gagal
112 berhasil
106 berhasil
107 berhasil
(1054, "Unknown column 'nan' in 'field list'")
100 gagal
110 berhasil
(1054, "Unknown column 'nan' in 'field list'")
103 gagal
97 berhasil
96 berhasil
95 berhasil
(1054, "Unknown column 'nan' in 'field list'")
104 gagal
1279 berhasil
1269 berhasil
1285 berhasil
1278 berhasil
1282 berhasil
1284 berhasil
1283 berhasil
1277 berhasil
1281 berhasil
1280 berhasil
(1054, "Unknown column 'nan' in 'field list'")
1275 gagal
(1054, "Unknown column 'nan' in 'field list'")
1274 gagal
(1054, "Unknown column 'nan' in 'field list'")
1276 gagal
(1054, "Unknown column 'nan' in 'field list'")
1273 gagal
1272 berhasil
1271 berhasil
1270 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2539 gagal
2540 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2544 gagal
(1054, "Unknown column 'nan' in 'field list'")
2553 gagal
2548 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2549 gagal
(1054, "Unknown column 'nan' in 'field list'")
2546 gagal
2552 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2545 gagal
(1054, "Unknown column 'nan' in 'field list'")
2550 gagal
(1054, "Unknown column 'nan' in 'field list'")
2551 gagal
2542 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2543 gagal
(1054, "Unknown column 'nan' in 'field list'")
2541 gagal
2547 berhasil
2032 berhasil
2031 berhasil
2049 berhasil
2050 berhasil
2054 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2053 gagal
2044 berhasil
2034 berhasil
2047 berhasil
2048 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2040 gagal
2041 berhasil
2043 berhasil
2055 berhasil
2056 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2052 gagal
(1054, "Unknown column 'nan' in 'field list'")
2039 gagal
(1054, "Unknown column 'nan' in 'field list'")
2038 gagal
2051 berhasil
2045 berhasil
2046 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2037 gagal
2035 berhasil
2036 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2042 gagal
2033 berhasil
2404 berhasil
2371 berhasil
2372 berhasil
2392 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2388 gagal
(1054, "Unknown column 'nan' in 'field list'")
2387 gagal
(1054, "Unknown column 'nan' in 'field list'")
2382 gagal
2366 berhasil
2399 berhasil
2360 berhasil
2391 berhasil
2376 berhasil
2368 berhasil
2380 berhasil
2401 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2363 gagal
2390 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2381 gagal
2377 berhasil
2375 berhasil
2378 berhasil
2405 berhasil
2406 berhasil
2389 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2400 gagal
2367 berhasil
2393 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2383 gagal
2374 berhasil
2385 berhasil
2386 berhasil
2359 berhasil
2384 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2373 gagal
2403 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2397 gagal
2394 berhasil
2395 berhasil
(1054, "Unknown column 'nan' in 'field list'")
2396 gagal
2398 berhasil
2402 berhasil
2361 berhasil
2370 berhasil
2369 berhasil
2365 berhasil
2362 berhasil
2364 berhasil
2379 berhasil